<div class="row" ng-init="manageJobCtrl.getJob();">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!/user/home" class="breadcrumb">Home</a>
                        <a href="#!" class="breadcrumb">Manage</a>
                        <a href="#!/admin/managejobs" class="breadcrumb">Jobs</a>
                        <a class="breadcrumb">Edit Job</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel">
            <strong style="font-size:20px;" class="grey-text">Edit Job</strong>
            <hr/>
            <div class="row">
                <div class="col offset-m3 m6">
                    <div class="card-panel">
                        <form name="editForm" ng-submit="manageJobCtrl.editJob()" novalidate>

                            <!--Id field starts here-->
                            <div class="input-field nomargin">
                                <input type="hidden" name="id" id="id" ng-model="manageJobCtrl.job.id" placeholder="Job ID" required="required">
                            </div>
                            <!--Id field ends here-->

                            <!--title field starts here-->
                            <div class="input-field nomargin">
                                <input type="text" name="title" id="title" ng-pattern="/^[a-zA-Z0-9\s\-]+$/" ng-minlength="2" maxlength="50" ng-maxlength="50"
                                    data-length="50" ng-model="manageJobCtrl.job.title" placeholder="Job Name" required="required">
                                <div class="invalid-data center-align" ng-show="editForm.title.$dirty">
                                    <span ng-show="editForm.title.$dirty && editForm.title.$error.required">Please, Provide Title</span>
                                    <span ng-show="editForm.title.$error.minlength">This field must contain atleast 2 charachters</span>
                                    <span ng-show="editForm.title.$error.maxlength">This field can contain maximum 50 charachters</span>
                                    <span ng-show="editForm.title.$error.pattern">This field cannot contain special charachters</span>
                                </div>
                            </div>
                            <!--title field ends here-->

                            <!--company field starts here-->
                            <div class="input-field nomargin">
                                <input type="text" name="company" id="company" ng-pattern="/^[a-zA-Z0-9\s\-]+$/" ng-minlength="2" maxlength="50" ng-maxlength="50"
                                    data-length="50" ng-model="manageJobCtrl.job.company" placeholder="Company Name" required="required">
                                <div class="invalid-data center-align" ng-show="editForm.company.$dirty">
                                    <span ng-show="editForm.company.$dirty && editForm.company.$error.required">Please, Provide company</span>
                                    <span ng-show="editForm.company.$error.minlength">This field must contain atleast 2 charachters</span>
                                    <span ng-show="editForm.company.$error.maxlength">This field can contain maximum 50 charachters</span>
                                    <span ng-show="editForm.company.$error.pattern">This field cannot contain special charachters</span>
                                </div>
                            </div>
                            <!--company field ends here-->

                            <!--description field starts here-->
                            <div class="input-field nomargin">

                                <textarea id="description" class="materialize-textarea" style="margin-bottom: 0px;" ng-pattern="/^[a-zA-Z\s\-\'\,\_\;]+$/"
                                    ng-minlength="20" maxlength="500" ng-maxlength="500" placeholder="Job Description" data-length="500"
                                    ng-model="manageJobCtrl.job.description" placeholder="description" required="required"></textarea>
                                <div class="invalid-data center-align" ng-show="editForm.description.$dirty">
                                    <span ng-show="editForm.description.$dirty && editForm.description.$error.required">Please, Provide Description</span>
                                    <span ng-show="editForm.description.$error.minlength">This field must contain atleast 20 charachters</span>
                                    <span ng-show="editForm.description.$error.maxlength">This field can contain maximum 500 charachters</span>
                                    <span ng-show="editForm.description.$error.pattern">This field can contain only '-,_;' these special charachters</span>
                                </div>

                            </div>
                            <!--description field ends here-->

                            <!--Experience field starts here-->
                            <div class="input-field nomargin">

                                <input type="text" name="experience" id="experience" ng-pattern="/^[0-9]+$/" ng-minlength="1" maxlength="2" ng-maxlength="2"
                                    data-length="2" ng-model="manageJobCtrl.job.experience" placeholder="Experience Name" required="required">
                                <div class="invalid-data center-align" ng-show="editForm.experience.$dirty">
                                    <span ng-show="editForm.experience.$dirty && editForm.experience.$error.required">Please, Provide Experience</span>
                                    <span ng-show="editForm.experience.$error.minlength">This field must contain atleast 1 number</span>
                                    <span ng-show="editForm.experience.$error.maxlength">This field can contain maximum 2 numbers</span>
                                    <span ng-show="editForm.experience.$error.pattern">This field can contain only numbers</span>
                                </div>

                            </div>
                            <!--Experience field ends here-->

                            <!--Salary field starts here-->
                            <div class="input-field nomargin">

                                <input type="text" name="salary" id="salary" ng-pattern="/^[0-9]+$/" ng-minlength="4" maxlength="9" ng-maxlength="9" data-length="9"
                                    ng-model="manageJobCtrl.job.salary" placeholder="Salary Name" required="required">
                                <div class="invalid-data center-align" ng-show="editForm.salary.$dirty">
                                    <span ng-show="editForm.salary.$dirty && editForm.salary.$error.required">Please, Provide Salary</span>
                                    <span ng-show="editForm.salary.$error.minlength">This field must contain atleast 4 numbers</span>
                                    <span ng-show="editForm.salary.$error.maxlength">This field can contain maximum 9 numbers</span>
                                    <span ng-show="editForm.salary.$error.pattern">This field can contain only numbers</span>
                                </div>

                            </div>
                            <!--salary field ends here-->

                            <!--Location field starts here-->
                            <div class="input-field nomargin">

                                <input type="text" name="location" id="location" ng-pattern="/^[A-Za-z\s\-]+$/" ng-minlength="2" maxlength="20" ng-maxlength="20"
                                    data-length="20" ng-model="manageJobCtrl.job.location" placeholder="Location Name" required="required">
                                <div class="invalid-data center-align" ng-show="editForm.location.$dirty">
                                    <span ng-show="editForm.location.$dirty && editForm.location.$error.required">Please, Provide Location</span>
                                    <span ng-show="editForm.location.$error.minlength">This field must contain atleast 2 charachters</span>
                                    <span ng-show="editForm.location.$error.maxlength">This field can contain maximum 20 charachters</span>
                                    <span ng-show="editForm.location.$error.pattern">This field can contain only charachters</span>
                                </div>

                            </div>
                            <!--location field ends here-->

                            <!--Report field starts here-->
                            <div class="input-field dropdown ">

                                <select name="report" id="report" ng-model="manageJobCtrl.job.report" ng-required="true">
                                    
                                    <option value = "" disabled selected>Choose report</option>
                                    <option value = "YES">Yes</option>
                                    <option value = "NO">No</option>

                                </select>

                                <div class="invalid-data center-align" ng-show="editForm.job.$dirty">
                                    <span ng-show="editForm.job.$invalid && editForm.job.touched">Please, Select Report</span>
                                </div>

                            </div>
                            <!--Report field ends here-->

                            <!--Status field starts here-->
                            <div class="input-field dropdown ">
                                <select name="status" id="status" ng-model="manageJobCtrl.job.status" ng-required="true">
                                    <option value = "" disabled selected>Choose status</option>
                                    <option value = "PENDING">Pending</option>
                                    <option value = "APPROVED">Approved</option>
                                    <option value = "CLOSED">Closed</option>
                                    <option value = "REJECTED">Rejected</option>
                                </select>
                                <div class="invalid-data center-align" ng-show="editForm.status.$dirty">
                                    <span ng-show="editForm.status.$invalid && editForm.status.touched">Please, Select Status</span>
                                </div>
                            </div>
                            <!--Status field ends here-->

                            <div class="input-field">
                                <div class="hoverable">
                                    <input type="submit" class="btn light-blue waves-effect waves-light full-width" ng-disabled="editForm.$invalid" value="Save Changes">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>