<div class="row" ng-init="manageUserCtrl.fetchAllUsers();">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!/user/home" class="breadcrumb">Home</a>
                        <a href="#!" class="breadcrumb">Manage</a>
                        <a href="#!/admin/manageuser" class="breadcrumb">User</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel">
            <div class="row nomargin">
                <div class="col m2 nopadding nomargin">
                    <strong style="font-size:20px;" class="grey-text">Manage User</strong>
                </div>

                <div class="col m4">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="query" ng-change="search()" required="required">
                        <label for="searchKeyword">Search For User</label>
                    </div>
                </div>

                <div class="col m3">
                    <select ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show '+size+' Per Page') for size in pageSizes">
                      
                    </select>
                    <label>Materialize Select</label>
                </div>

                <div class="col m2 offset-m1">
                    <a href="" ng-click="manageUserCtrl.validateAllUsers()" class="btn light-blue waves-effect waves-light">Approve All</a>
                </div>

            </div>
            <hr/>

            <div ng-show="!pagedItems[currentPage]">
                <h5 class="center red-text"><strong>There Are No User(s) Yet OR Search Match Available</strong></h5>
            </div>
            <div ng-hide="!pagedItems[currentPage]">

                <table class="highlight bordered">
                    <thead>
                        <tr>
                            <td><a href="" ng-click="sort_by('firstName')">Name</a></td>
                            <td><a href="" ng-click="sort_by('userName')">Username</a></td>
                            <td><a href="" ng-click="sort_by('email')">Email</a></td>
                            <td><a href="" ng-click="sort_by('role')">Role</a></td>
                            <td><a href="" ng-click="sort_by('status')">Status</a></td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                            <td>{{user.firstName}} {{user.lastName}}</td>
                            <td>{{user.userName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.role}}</td>
                            <td>{{user.status}}</td>
                            <td ng-if=" user.status == 'APPROVED' ">
                                <a href="#!/admin/edituser/{{user.id}}" style="color:black;"><i class="material-icons">edit</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="" ng-click="manageUserCtrl.validateUser(user.id, 'Disabled')" style="color:black;"><i class="material-icons ">block</i></a>
                            </td>

                            <td ng-if=" user.status == 'PENDING' ">
                                <a href="" ng-click="manageUserCtrl.validateUser(user.id, 'Approved')" style="color:black;"><i class="material-icons">done</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#!" ng-click="manageUserCtrl.validateUser(user.id, 'Rejected')" style="color:black;"><i class="material-icons">close</i></a>
                            </td>

                            <td ng-if=" user.status == 'DISABLED' || user.status == 'REPORTED' ">
                                <a href="" ng-click="manageUserCtrl.validateUser(user.id, 'Approved')" style="color:black;"><i class="material-icons">done</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col offset-m5">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                <a href="javascript:;" ng-bind="n + 1">{{n+1}}</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>