<div class="row" ng-init="manageBlogCtrl.fetchAllBlogs();">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!/user/home" class="breadcrumb">Home</a>
                        <a href="#!" class="breadcrumb">Manage</a>
                        <a href="#!/admin/manageblogs" class="breadcrumb">Blogs</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel">
            <div class="row nomargin">
                <div class="col m2 nopadding nomargin">
                    <strong style="font-size:20px;" class="grey-text">Manage Blogs</strong>
                </div>
                <div class="col m4">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="searchKeyword" name="searchKeyword" id="searchKeyword" ng-model=""
                            required="required">
                        <label for="searchKeyword">Search For Blog, Status</label>
                    </div>
                </div>

                <div class="col m3">
                    <select ng-model="sortBy">
                        <option value="" disabled selected> Choose Sort By Option</option>
                        <option value="userName">Sort By User</option>
                        <option value="postDate">Sort By Date</option>
                        <option value="status">Sort By Status</option>
                    </select>
                    <label>Materialize Select</label>
                </div>

                <div class="col m2 offset-m1">
                    <a href="" ng-click="manageBlogCtrl.validateAllBlogs()" class="btn light-blue waves-effect waves-light">Approve All</a>
                </div>

            </div>
            <hr/>

            <table class="highlight bordered">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Posted By</td>
                        <td>Posted Date</td>
                        <td>Report</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="blog in manageBlogCtrl.blogs | filter:searchKeyword | orderBy:sortBy">
                        <td>{{blog.title}}</td>
                        <td>{{blog.userName}}</td>
                        <td>{{blog.postDate}}</td>
                        <td>{{blog.report}}</td>
                        <td>{{blog.status}}</td>
                        <td ng-if=" blog.status == 'APPROVED' ">
                            <a href="#!/admin/editblog/{{blog.blogId}}" style="color:black;"><i class="material-icons">edit</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="" ng-click="manageBlogCtrl.validateBlog(blog.blogId, 'Disabled')" style="color:black;"><i class="material-icons ">block</i></a>
                        </td>

                        <td ng-if=" blog.status == 'PENDING' ">
                            <a href="" ng-click="manageBlogCtrl.validateBlog(blog.blogId, 'Approved')" style="color:black;"><i class="material-icons">done</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#!" ng-click="manageBlogCtrl.validateBlog(blog.blogId, 'Rejected')" style="color:black;"><i class="material-icons">close</i></a>
                        </td>

                        <td ng-if=" blog.status == 'DISABLED' ">
                            <a href="" ng-click="manageBlogCtrl.validateBlog(blog.blogId, 'Approved')" style="color:black;"><i class="material-icons">done</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>

                    </tr>

                </tbody>

            </table>
            <ul uib-pagination total-items="manageUserCtrl.users.length" ng-model="currentPage" max-size="maxSize" class="pagination"
                boundary-links="true"></ul>
        </div>

    </div>
</div>