<div class="row" ng-init="manageTopicCtrl.fetchAllTopics();">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!/user/home" class="breadcrumb">Home</a>
                        <a href="#!" class="breadcrumb">Manage</a>
                        <a href="#!/admin/managetopics" class="breadcrumb">Topics</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel">
            <div class="row nomargin">
                <div class="col m2 nopadding nomargin">
                    <strong style="font-size:20px;" class="grey-text">Manage Topics</strong>
                </div>
                <div class="col m4">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="query" ng-change="search()" required="required">
                        <label for="searchKeyword">Search For Topic</label>
                    </div>
                </div>

                <div class="col m3">
                    <select ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show '+size+' Per Page') for size in pageSizes">
                      
                    </select>
                    <label>Materialize Select</label>
                </div>

                <div class="col m2 offset-m1">
                    <a href="" ng-click="manageTopicCtrl.validateAllTopics()" class="btn light-blue waves-effect waves-light">Approve All</a>
                </div>

            </div>
            <hr/>

            <table class="highlight bordered">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Posted By</td>
                        <td>Posted Date</td>
                        <td>Forum Name</td>
                        <td>Report</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="topic in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                        <td>{{topic.title}}</td>
                        <td>{{topic.userName}}</td>
                        <td>{{topic.createdDate}}</td>
                        <td>{{topic.forum.forumName}}</td>
                        <td>{{topic.report}}</td>
                        <td>{{topic.status}}</td>
                        <td ng-if=" topic.status == 'OPEN' ">
                            <a href="#!/admin/edittopic/{{topic.id}}" style="color:black;"><i class="material-icons">edit</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="" ng-click="manageTopicCtrl.validateTopic(topic.id, 'Closed')" style="color:black;"><i class="material-icons ">block</i></a>
                        </td>

                        <td ng-if=" topic.status == 'PENDING' ">
                            <a href="" ng-click="manageTopicCtrl.validateTopic(topic.id, 'Open')" style="color:black;"><i class="material-icons">done</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#!" ng-click="manageTopicCtrl.validateTopic(topic.id, 'Rejected')" style="color:black;"><i class="material-icons">close</i></a>
                        </td>

                        <td ng-if=" topic.status == 'CLOSED' || topic.status == 'REJECTED' ">
                            <a href="" ng-click="manageTopicCtrl.validateTopic(topic.id, 'Open')" style="color:black;"><i class="material-icons">done</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>



                    </tr>

                </tbody>

            </table>
            <div class="row">
                <div class="col offset-m5">
                    <ul class="pagination">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                            <a href="javascript:;" ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                            <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>