<!--Container Starts From Here-->
<div class="container-fluid">
    <!--Row Starts From Here-->
    <div class="row">
        <div class="col offset-m3 offset-l4 s12 m8 l6">
            <div class="z-depth-3">
                <!--Card Starts From Here-->
                <div class="card hoverable">
                    <div class="card-content">
                        <div class="center-align">
                            <img src="/assets/images/icon_graduate.png" class="circle responsive-img" style="width:50%; height: 50%" alt="No Image Available">
                        </div>
                        <span class="center card-title">Enter Topic Details</span>

                        <!--Registration Form Starts From Here-->

                        <form name="addForumForm" ng-submit="forumCtrl.addForumTopic()" novalidate>

                            <!--Title Field Starts From  Here-->

                            <div class="input-field">
                                <input type="text" name="title" id="title" ng-model="forumCtrl.topic.title" ng-minlength="3" ng-maxlength="50" data-length="50"
                                    required="required">
                                <label for="title">Title</label>
                                <div class="invalid-data center-align" ng-show="forumCtrl.topic.$dirty">
                                    <span ng-show="addForumForm.topic.title.$dirty && addForumForm.topic.title.$error.required">Please, Provide Topic Title</span>
                                    <span ng-show="addForumForm.title.$error.minlength">Title Must Contain Atleast 3 Charachters</span>
                                    <span ng-show="addForumForm.title.$error.maxlength">Title Cannot Contain More Than 10 Charachters</span>
                                </div>
                            </div>

                            <!--Title Field Ends Here-->

                            <div class="input-field">
                                <textarea id="textarea" name="description" class="materialize-textarea" ng-model="forumCtrl.topic.description" ng-minlength="10"
                                    ng-maxlength="500" data-length="500" required="required"></textarea>
                                <label for="description">Description</label>
                                <div class="invalid-data center-align" ng-show="forumCtrl.topic.$dirty">
                                    <span ng-show="forumCtrl.topic.title.$dirty && forumCtrl.topic.title.$error.required">Please, Provide Topic Title</span>
                                    <span ng-show="addForumForm.title.$error.minlength">Title Must Contain Atleast 10 Charachters</span>
                                    <span ng-show="addForumForm.title.$error.maxlength">Title Cannot Contain More Than 500 Charachters</span>
                                </div>
                            </div>

                            <div class="input-field">
                                <div class="hoverable">
                                    <input type="submit" class="btn light-blue waves-effect waves-light full-width" value="Add Topic">
                                </div>
                            </div>
                        </form>

                        <!--Registration Form Ends Here-->

                        <br>
                        <div class="row">
                            <div class="left-align link col m5"><a href="#!/user/forum">Back To Forum</a></div>
                        </div>
                    </div>
                </div>
                <!--Card Ends Here-->
            </div>
        </div>
    </div>
    <!--Row Ends Here-->
</div>
<!--Container Ends Here-->


 <div class="card">
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Test 1</a></li>
        <li class="tab"><a class="active" href="#test5">Test 2</a></li>
        <li class="tab"><a href="#test6">Test 3</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4">Test 1</div>
      <div id="test5">Test 2</div>
      <div id="test6">Test 3</div>
    </div>
  </div>