<div class="row" ng-init="forumCtrl.getComment()">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!/user/home" class="breadcrumb">Home</a>
                        <a href="#!/user/forums" class="breadcrumb">Forums</a>
                        <a href="#!" class="breadcrumb">Edit Forum Comment</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel">
            <h5>Edit Blog Comment</h5>
            <hr/>
            <div class="row">
                <div class="col m6 offset-m3">
                    <form name="editForm" ng-submit="forumCtrl.editComment()" novalidate>

                        <form ng-submit="forumCtrl.createForumComment()" class="col s12" name="comments">
                            <div class="row nomargin">
                                <div class="input-field col s12">
                                    <textarea id="discussion" ng-model="forumCtrl.forumComment.comment" class="materialize-textarea nopadding nomargin" minimum="2"
                                        ng-pattern="/^[a-zA-Z0-9\s\-\'\,\_\;]+$/" maxlength="500" data-length="500" placeholder="Write Something..."
                                        style="margin-bottom:0px;"></textarea>
                                </div>
                            </div>
                            <input type="submit" ng-disabled="editForm.$invalid" class="btn waves-effect waves-light" value="Post">
                        </form>


                        <!--comment field starts here-->
                        <!--<div class="input-field nomargin">
                            <textarea id="comment" class="materialize-textarea" style="margin-bottom: 0px;" ng-pattern="/^[a-zA-Z0-9\s\-\'\,\_\;]+$/"
                                ng-minlength="20" maxlength="1000" ng-maxlength="1000" placeholder="Provide Comment" data-length="1000"
                                ng-model="forumCtrl.forumComment.comment" required="required"></textarea>
                            <div class="invalid-data center-align" ng-show="editForm.comment.$dirty">
                                <span ng-show="editForm.comment.$dirty && editForm.comment.$error.required">Please, Provide Forum Comment</span>
                                <span ng-show="editForm.comment.$error.minlength">This field must contain atleast 2 charachters</span>
                                <span ng-show="editForm.comment.$error.maxlength">This field can contain maximum 50 charachters</span>
                                <span ng-show="editForm.comment.$error.pattern">This field can contain '-,_;' these special charachters</span>
                            </div>

                        </div>-->
                        <!--comment field ends here-->

                        <!--<div class="input-field">
                            <div class="hoverable">
                                <input type="submit" ng-disabled="editForm.$invalid" class="btn light-blue waves-effect waves-light modal-close full-width"
                                    value="Save Changes">
                            </div>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>