<div class="row" ng-init="forumCtrl.getTopic();">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!/user/home" class="breadcrumb">Home</a>

                        <a href="#!/user/forums" class="breadcrumb">Forums</a>

                        <a href="#!/user/forum/view/{{forumCtrl.topic.forum.id}}" class="breadcrumb">{{forumCtrl.topic.forum.forumName}}</a>

                        <a href="#!/user/forum/topic/view/{{forumCtrl.topic.id}}" class="breadcrumb">{{forumCtrl.topic.title}}</a>

                        <a class="breadcrumb">Edit Topic</a>

                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel">
            <h5><strong>Edit Topic</strong></h5>
            <hr/>
            <div class="row">
                <div class="col offset-m3 m6">
                    <div class="card-panel">
                        <form name="editForm" ng-submit="forumCtrl.editTopic()" novalidate>

                            <!--Id field starts here-->
                            <div class="input-field nomargin">
                                <input type="hidden" name="topicId" id="topicId" ng-model="forumCtrl.topic.id" placeholder="Topic ID" required="required">
                            </div>
                            <!--Id field ends here-->

                            <!--title field starts here-->
                            <div class="input-field nomargin">
                                <input type="text" name="title" id="title" ng-pattern="/^[a-zA-Z0-9\s]+$/" ng-minlength="2" maxlength="50" ng-maxlength="50"
                                    data-length="50" ng-model="forumCtrl.topic.title" placeholder="Topic Name" required="required">
                                <div class="invalid-data center-align" ng-show="editForm.title.$dirty">
                                    <span ng-show="editForm.title.$dirty && editForm.title.$error.required">Please, Provide Topic Name</span>
                                    <span ng-show="editForm.title.$error.minlength">This field must contain atleast 2 charachters</span>
                                    <span ng-show="editForm.title.$error.maxlength">This field can contain maximum 50 charachters</span>
                                    <span ng-show="editForm.title.$error.pattern">This field cannot contain special charachters</span>
                                </div>
                            </div>
                            <!--title field ends here-->

                            <!--description field starts here-->
                            <div class="input-field nomargin">

                                <textarea id="description" class="materialize-textarea" style="margin-bottom: 0px;" ng-pattern="/^[a-zA-Z\s\-\'\,\_\;]+$/"
                                    ng-minlength="20" maxlength="4000" ng-maxlength="4000" placeholder="Forum Description" data-length="4000"
                                    ng-model="forumCtrl.topic.description" placeholder="description" required="required"></textarea>
                                <div class="invalid-data center-align" ng-show="editForm.description.$dirty">
                                    <span ng-show="editForm.description.$dirty && editForm.description.$error.required">Please, Provide Description</span>
                                    <span ng-show="editForm.description.$error.minlength">This field must contain atleast 20 charachters</span>
                                    <span ng-show="editForm.description.$error.maxlength">This field can contain maximum 4000 charachters</span>
                                    <span ng-show="editForm.description.$error.pattern">This field can contain only '-,_;' these special charachters</span>
                                </div>

                            </div>
                            <!--description field ends here-->

                            <div class="input-field">
                                <div class="hoverable">
                                    <input type="submit" class="btn light-blue waves-effect waves-light full-width" ng-disabled="editForm.$invalid" value="Save Changes">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>