<div class="row" ng-init="forumCtrl.getForum()">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!/user/home" class="breadcrumb">Home</a>
                        <a href="#!/user/forums" class="breadcrumb">Forums</a>
                        <a href="#!" class="breadcrumb">{{forumCtrl.forum.forumName}}</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col m12">
            <div class="card">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg" height="300px;">

                    <span class="card-title"><strong>{{forumCtrl.forum.forumName}}</strong></span>
                    <div ng-hide="forumCtrl.forum.status == 'PENDING'">
                        <a ng-hide="forumCtrl.forum.status != 'APPROVED'" ng-click="forumCtrl.joinForum(forumCtrl.forum.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        <a ng-show="forumCtrl.forum.status == 'CLOSED'" ng-click="forumCtrl.performActionOnForum('Approved', forumCtrl.forum.id)"
                            class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">done</i></a>
                        <div ng-repeat="member in forumCtrl.forum['members']">
                            <a ng-show="member.userId == user.id && member.role != 'ADMIN' && forumCtrl.forum.status == 'APPROVED'" ng-click="forumCtrl.performActionOnRequest('Cancel', member.id)"
                                class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                            <a ng-show="member.userId == user.id && member.role == 'ADMIN' && forumCtrl.forum.status == 'APPROVED'" ng-click="forumCtrl.performActionOnForum('Closed', forumCtrl.forum.id)"
                                class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>

                </div>
            </div>

            <div ng-hide="forumCtrl.forum.status == 'PENDING' || forumCtrl.forum.status == 'CLOSED' ">
                <div ng-repeat="member in forumCtrl.forum['members']">
                    <div ng-show="member.status == 'APPROVED' && member.userId == user.id">
                        <div class="row card-panel nopadding">
                            <div class="col s12">
                                <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s3"><a href="#details">Details</a></li>
                                    <li class="tab col s3"><a href="#discussion">Discussion Board</a></li>
                                    <li class="tab col s3"><a href="#topics">Topics</a></li>
                                    <li ng-show="member.role == 'ADMIN'" class="tab col s3"><a href="#pendingTopics">Pending Topics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div ng-show="member.status == 'PENDING' && member.userId == user.id">
                        <h5 class="red-text center"> Your Request Is Pending, You Will Get Full Access After Admin Approve Your Request</h5>
                    </div>
                </div>
                <!--Details Section Starts here-->
                <div id="details" class="col m12">
                    <div class="col m7 row">
                        <div class="card-panel">
                            <span> Members ({{forumCtrl.forum.noOfMembers}}) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="right"><a href = "#!/user/forum/members/{{forumCtrl.forum.id}}">View All</a></span></span>
                            <div class="grey-text row"><strong>Admin</strong><br>
                                <div ng-hide="!forumCtrl.twelveMembers['admins']">
                                    <div ng-repeat="admin in forumCtrl.twelveMembers['admins']">
                                        <div class=" col m2">
                                            <img src="http://lorempixel.com/800/400/nature/4" width="50" height="50">
                                            <div class="truncate"> {{admin.userName}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="!forumCtrl.twelveMembers['admins']">
                                    There Are No Admin(s).
                                </div>
                            </div>
                            <hr/>
                            <div class="grey-text row"><strong>Members</strong><br/>
                                <div ng-hide="!forumCtrl.twelveMembers['members']">
                                    <div ng-repeat="member in forumCtrl.twelveMembers['members']">
                                        <div class=" col m2">
                                            <img src="http://lorempixel.com/800/400/nature/4" width="50" height="50">
                                            <div class="truncate"> {{member.userName}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="!forumCtrl.twelveMembers['members']">
                                    There Are No Member(s).
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col m5">
                        <div class="card-panel">

                            <span class="grey-text" style="font-size: 12px;">Name</span><br>
                            <div class="truncate">{{forumCtrl.forum.forumName}}</div>

                            <span class="grey-text" style="font-size: 12px;">Created On:</span><br>
                            <div class="truncate">{{forumCtrl.forum.createdDate}}</div>

                            <span class="grey-text" style="font-size: 12px;">Status</span><br>
                            <div class="truncate">{{forumCtrl.forum.status}}</div>

                            <span class="grey-text" style="font-size: 12px;">Description</span><br>
                            <div class="truncate">{{forumCtrl.forum.forumDescription}} </div>
                            <a href="" style="font-size: 14px;" class="right">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="forumCtrl.forum.status == 'PENDING'">
                <h5 class="red-text center"> Your Forum Request Is Pending, You Will Get Full Access After Admin Approve Your Request</h5>
            </div>
            <div ng-show="forumCtrl.forum.status == 'CLOSED'">
                <h5 class="red-text center"> Your Forum Is Closed</h5>
            </div>
        </div>
        <!--Details Section Ends here-->

        <!--Discussion Section Starts here-->
        <div id="discussion" class="col s12">

            <div class="row">
                <div class="card-panel">
                    <div class="card-panel row">
                        <form ng-submit="forumCtrl.createForumComment()" class="col s12" name="comments">
                            <div class="row nomargin">
                                <div class="input-field col s12">
                                    <textarea id="discussion" ng-model="forumCtrl.newForumComment.comment" class="materialize-textarea nopadding nomargin" minimum="2"
                                        ng-pattern="/^[a-zA-Z0-9\s\-\'\,\_\;]+$/" maxlength="500" data-length="500" placeholder="Write Something..."
                                        style="margin-bottom:0px;"></textarea>
                                </div>
                            </div>
                            <input type="submit" ng-disabled="comments.$invalid" class="btn waves-effect waves-light" value="Post">
                        </form>
                    </div>

                    <div ng-show="!pagedItems[currentPage]">
                        <h4 class="center">There Are No Comments</h4>
                    </div>
                    <div ng-hide="!pagedItems[currentPage]">
                        <div class="row">
                            <div class="center col offset-m4 m3">
                                <ul class="pagination">
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                                    </li>
                                    <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                        <a href="javascript:;" ng-bind="n + 1">1</a>
                                    </li>
                                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                        <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col m4 offset-m1">
                                <select ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show '+size+' Per Page') for size in pageSizes">
                    </select>
                                <label>Materialize Select</label>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="comment in pagedItems[currentPage]">

                        <div class="card-panel">
                            <div class="row nopadding nomargin" ng-hide="comment.report == 'YES' && user.role == 'USER' || user.role == 'EMPLOYER' ">
                                <div class=" col m0">
                                    <img src="http://lorempixel.com/800/400/nature/4" width="25" height="25">
                                </div>
                                <a href="">{{comment.userName}}</a> <span ng-show="comment.report =='NO'">{{comment.comment}}</span>
                                <span ng-show="comment.report =='YES' && user.role !='USER' && user.role !='EMPLOYER'" class="red-text">{{comment.comment}}</span>
                                <span class="right">
                                    <span ng-show="comment.report =='YES'"><i class="material-icons"><a href = "" class="red-text">report_problem</a></i></span>
                                </span>
                                <span class="right" ng-hide="comment.report == 'YES'">
                                <a class='dropdown-button' href='#' data-activates='commentOption_{{comment.id}}'><i class="material-icons">more_vert</i></a>

                                <!-- Dropdown Structure -->

                                <ul id='commentOption_{{comment.id}}' class='dropdown-content'>
                                    <div ng-repeat="forum in forumCtrl.forum"></div>

                                    <li><a href="#!/user/forum/comment/report/{{comment.id}}">Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#!/user/forum/edit/comment/{{comment.id}}">Edit</a></li>
                                    <li><a href="" ng-click="forumCtrl.deleteForumComment(comment.id)">Delete</a></li>
                                </ul>
                                </span>

                                <br/>
                                <span class="grey-text" style="font-size: 12px;">{{comment.commentDate}}</span>
                            </div>

                            <div ng-show="comment.report == 'YES' && user.role == 'USER' || user.role == 'EMPLOYER' ">
                                <h6 class="center red-text">This Comment Is Reported</h6>
                            </div>

                        </div>
                    </div>
                    <div ng-hide="!pagedItems[currentPage]">
                        <div class="center">
                            <ul class="pagination">
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                    <a href="javascript:;" ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--Discussion Section Ends here-->

        <!--Topics Section Starts here-->
        <div id="topics" class="col s12">
            <div class="card-panel row nomargin" style="padding:10px;">
                <div class="left">
                    <strong class="black-text" style="font-size:24px;">Topics</strong>
                </div>

                <div class="right"><a data-target="creationForm" class="btn light-blue waves-effect waves-light">+ Create Topic</a></div>
            </div>
            <div class="card-panel">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">reply</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Topics Section Ends here-->

        <!--Pending Topics Section Starts here-->
        <div id="pendingTopics" class="col s12">
            <div class="card-panel">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">reply</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pending Topics Section Ends here-->

    </div>
</div>

<!-- Modal Structure -->
<div id="creationForm" class="modal">
    <div class="modal-content">
        <h5>Create Topic</h5>
        <hr/>
        <div class="row nomargin">
            <div class="col offset-m3 m6">
                <div class="card-panel">
                    <form name="createForm" ng-submit="forumCtrl.createTopic()" novalidate>

                        <!--title field starts here-->
                        <div class="input-field nomargin">
                            <input type="text" name="title" id="title" ng-pattern="/^[a-zA-Z0-9\s]+$/" ng-minlength="2" maxlength="50" ng-maxlength="50"
                                data-length="50" ng-model="forumCtrl.newTopic.title" placeholder="Topic Name" required="required">
                            <div class="invalid-data center-align" ng-show="createForm.title.$dirty">
                                <span ng-show="createForm.title.$dirty && createForm.title.$error.required">Please, Provide Topic Name</span>
                                <span ng-show="createForm.title.$error.minlength">This field must contain atleast 2 charachters</span>
                                <span ng-show="createForm.title.$error.maxlength">This field can contain maximum 50 charachters</span>
                                <span ng-show="createForm.title.$error.pattern">This field cannot contain special charachters</span>
                            </div>
                        </div>
                        <!--title field ends here-->

                        <!--description field starts here-->
                        <div class="input-field nomargin">

                            <textarea id="description" class="materialize-textarea" style="margin-bottom: 0px;" ng-pattern="/^[a-zA-Z\s\-\'\,\_\;]+$/"
                                ng-minlength="20" maxlength="4000" ng-maxlength="4000" placeholder="Forum Description" data-length="4000"
                                ng-model="forumCtrl.newTopic.description" placeholder="description" required="required"></textarea>
                            <div class="invalid-data center-align" ng-show="createForm.description.$dirty">
                                <span ng-show="createForm.description.$dirty && createForm.description.$error.required">Please, Provide Description</span>
                                <span ng-show="createForm.description.$error.minlength">This field must contain atleast 20 charachters</span>
                                <span ng-show="createForm.description.$error.maxlength">This field can contain maximum 4000 charachters</span>
                                <span ng-show="createForm.description.$error.pattern">This field can contain only '-,_;' these special charachters</span>
                            </div>

                        </div>
                        <!--description field ends here-->

                        <!--ImageURL field starts here-->
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <!--ImageURL field ends here-->

                        <div class="input-field">
                            <div class="hoverable">
                                <input type="submit" class="btn light-blue modal-close waves-effect waves-light full-width" ng-disabled="createForm.$invalid" value="Save Changes">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>