<div class="card-content">
    <div class="card-panel hoverable top-bottom-padding">
        <div class="card-content">
            <div class="row">
                <div class="top-bottom-padding hideShowOption">
                    
                    <div class="right options" style="display: none;">
                        <a class="dropdown-button" href="javascript:void(0)" data-href="#" data-activates="option"> <i class="material-icons">more_vert</i></a>
                        <ul id='option' class='dropdown-content'>
                            <li><a href="#!">Edit</a></li>
                            <li><a href="#!">Duplicate</a></li>
                            <li><a href="#!">Close</a></li>
                            <li class="divider"></li>
                            <li><a href="#!">Delete</a></li>
                        </ul>
                    </div>
                    
                    <div class="col l11 s10 m11">
                        <a ng-href="">10 Kids Unaware of Their Halloween Costume</a><br><br>
                        <div style="padding-bottom: 2%;">Members: <a href="">102</a><br><br>Admin: <a ng-href="">Ansari Faisal</a><br><br>Created On: Feb
                            2, 2017<br><br>Topics: 1000
                            <br><br>This is a test, This is a test, this is a test, This is a test, this is a test this is
                            a test, This is a test, this is a test, This is a test, this is a test</div>
                        <a ng-href="">Join this forum</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>