<div class="row">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!" class="breadcrumb">Home</a>

                        <span class="right"><button class="btn waves-effect waves-light">+ Create Group</button></span>

                        <a href="#!" class="breadcrumb">Forums</a>

                    </div>
                </div>
            </nav>
        </div>
        <div class="card-panel nopadding">
            <div class="card-content">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width ">
                        <li class="tab"><a href="#allForums" class="active">All Forums</a></li>
                        <li class="tab"><a href="#myForums">My Forum</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row" id="allForums">
            <div class="card-panel" style="padding-top: 2px; padding-bottom:0px;">
                <div class="center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>Created By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">comment</i>1 Topics</td>
                                    <td><i class="material-icons" style="font-size: 14px;">group</i>1 Members</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>Created By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">comment</i>1 Topics</td>
                                    <td><i class="material-icons" style="font-size: 14px;">group</i>1 Members</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>Created By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">comment</i>1 Topics</td>
                                    <td><i class="material-icons" style="font-size: 14px;">group</i>1 Members</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>Created By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">comment</i>1 Topics</td>
                                    <td><i class="material-icons" style="font-size: 14px;">group</i>1 Members</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>Created By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">comment</i>1 Topics</td>
                                    <td><i class="material-icons" style="font-size: 14px;">group</i>1 Members</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-panel" style="padding-top: 2px; padding-bottom:0px;">
            <div id="myForums" class="row">
                <div class="center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>Created By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">comment</i>1 Topics</td>
                                    <td><i class="material-icons" style="font-size: 14px;">group</i>1 Members</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>Created By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">comment</i>1 Topics</td>
                                    <td><i class="material-icons" style="font-size: 14px;">group</i>1 Members</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>Created By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">comment</i>1 Topics</td>
                                    <td><i class="material-icons" style="font-size: 14px;">group</i>1 Members</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>Created By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">comment</i>1 Topics</td>
                                    <td><i class="material-icons" style="font-size: 14px;">group</i>1 Members</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>Created By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">comment</i>1 Topics</td>
                                    <td><i class="material-icons" style="font-size: 14px;">group</i>1 Members</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>