<div class="row" ng-init="forumCtrl.getForum()" ng-cloak>
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!/user/home" class="breadcrumb">Home</a>
                        <a href="#!/user/forums" class="breadcrumb">Forums</a>
                        <a href="#!" class="breadcrumb">{{forumCtrl.forum.forumName}}</a>
                    </div>
                </div>
            </nav>
        </div>


        <div class="preloader" ng-show="loading">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col m12">
            <div class="card">
                <div class="card-image">
                    <img src="../assets/images/forums/{{forumCtrl.forum.imageURL}}" height="300px;">

                    <span class="card-title"><strong>{{forumCtrl.forum.forumName}}</strong></span>
                    <div ng-hide="forumCtrl.forum.status == 'PENDING'">
                        <a ng-hide="forumCtrl.forum.status != 'APPROVED'" ng-click="forumCtrl.joinForum(forumCtrl.forum.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        <a ng-show="forumCtrl.forum.status == 'CLOSED'" ng-click="forumCtrl.performActionOnForum('Approved', forumCtrl.forum.id)"
                            class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">done</i></a>
                        <div ng-repeat="member in forumCtrl.forum['members']">
                            <a ng-show="member.userId == user.id && member.role != 'ADMIN' && forumCtrl.forum.status == 'APPROVED'" ng-click="forumCtrl.performActionOnRequest('Cancel', member.id)"
                                class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                            <a ng-show="member.userId == user.id && member.role == 'ADMIN' && forumCtrl.forum.status == 'APPROVED'" ng-click="forumCtrl.performActionOnForum('Closed', forumCtrl.forum.id)"
                                class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>

                </div>
            </div>

            <div ng-hide="forumCtrl.forum.status == 'PENDING' || forumCtrl.forum.status == 'CLOSED' ">

                <div ng-repeat="member in forumCtrl.forum['members']">
                    <div ng-show="member.status == 'APPROVED' && member.userId == user.id">
                        <div class="row card-panel nopadding">
                            <div class="col s12">
                                <ul class="tabs tabs-fixed-width">
                                    <li class="tab col s3"><a href="#details">Details</a></li>
                                    <li class="tab col s3"><a href="#discussion">Discussion Board</a></li>
                                    <li class="tab col s3"><a href="#topics">Topics</a></li>
                                    <li class="tab col s3"><a href="#myTopics">My Topics</a></li>
                                    <li ng-show="member.role == 'ADMIN'" class="tab col s3"><a href="#pendingTopics">Pending Topics</a></li>
                                    <li ng-show="member.role == 'ADMIN'" class="tab col s3"><a href="#rejectedTopics">Rejected Topics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div ng-show="member.status == 'PENDING' && member.userId == user.id">
                        <h5 class="red-text center"> <strong>Your Request Is Pending, You Will Get Full Access After Admin Approve Your Request </strong></h5>
                    </div>
                </div>
                <!--Details Section Starts here-->
                <div class="card-panel row nopadding">
                    <div id="details" class="col m12" style="padding:10px;">
                        <div class="col m7 row">
                            <div class="card-panel">
                                <span> Members ({{forumCtrl.forum.noOfMembers}}) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="right"><a href = "#!/user/forum/members/{{forumCtrl.forum.id}}">View All</a></span></span>
                                <div class="grey-text row"><strong>Admin</strong><br>
                                    <div ng-hide="!forumCtrl.twelveMembers['admins']">
                                        <div ng-repeat="admin in forumCtrl.twelveMembers['admins']">
                                            <div class=" col m2">
                                                <img src="../assets/images/users/{{admin.profilePicture}}" width="50" height="50">
                                                <div class="truncate"><a href="#!/user/profile/{{admin.userId}}"> {{admin.userName}} </a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="!forumCtrl.twelveMembers['admins']">
                                        There Are No Admin(s).
                                    </div>
                                </div>
                                <hr/>
                                <div class="grey-text row"><strong>Members</strong><br/>
                                    <div ng-hide="!forumCtrl.twelveMembers['members']">
                                        <div ng-repeat="member in forumCtrl.twelveMembers['members']">
                                            <div class=" col m2">
                                                <img src="../assets/images/users/{{member.profilePicture}}" width="50" height="50">
                                                <div class="truncate"><a href="#!/user/profile/{{member.userId}}"> {{member.userName}}</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="!forumCtrl.twelveMembers['members']">
                                        There Are No Member(s).
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col m5">
                            <div class="card-panel">
                                <div class="row nomargin nopadding">
                                    <div class="col m10" style="padding:0px;">
                                        <span class="grey-text" style="font-size: 12px;">Name</span><br>
                                        <div class="truncate">{{forumCtrl.forum.forumName}}</div>
                                    </div>
                                    <span class="right">
                                <a class='dropdown-button' href='#' data-activates='forumOption_{{forumCtrl.forum.id}}'><i class="material-icons">more_vert</i></a>

                                <!-- Dropdown Structure -->
                            <ul id='forumOption_{{forumCtrl.forum.id}}' class='dropdown-content'>
                                <div ng-hide="forumCtrl.forum.report != 'NO' || forumCtrl.forum.status != 'APPROVED'">
                                    <li><a href="#!/user/forum/report/{{forumCtrl.forum.id}}">Report</a></li>
                                    <span ng-show="forumCtrl.forum.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                        <li class="divider"></li>
                                        <li><a href="#!/user/forum/edit/{{forumCtrl.forum.id}}">Edit</a></li>
                                        <li><a href="" ng-click="forumCtrl.deleteForum('Closed', forumCtrl.forum.id)">Delete</a></li>
                                    </span>
                                </div>
                                </ul>

                                </span>
                            </div>
                            <span class="grey-text" style="font-size: 12px;">Created By:</span><br>
                            <div class="truncate"><a href="#!/user/profile/{{forumCtrl.forum.userId}}">{{forumCtrl.forum.userName}}</a></div>
                            <span class="grey-text" style="font-size: 12px;">Created On:</span><br>
                            <div class="truncate">{{forumCtrl.forum.createdDate}}</div>

                            <span class="grey-text" style="font-size: 12px;">Status</span><br>
                            <div class="truncate">{{forumCtrl.forum.status}}</div>

                            <span class="grey-text" style="font-size: 12px;">Description</span><br>
                            <div class="truncate">{{forumCtrl.forum.forumDescription}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="forumCtrl.forum.status == 'PENDING'">
                <h5 class="red-text center"> <strong>Your Forum Request Is Pending, You Will Get Full Access After Admin Approve Your Request</strong></h5>
            </div>
            <div ng-show="forumCtrl.forum.status == 'CLOSED'">
                <h5 class="red-text center"> <strong>Your Forum Is Closed</strong></h5>
            </div>
        </div>
    </div>
    <!--Details Section Ends here-->

    <!--Discussion Section Starts here-->
    <div id="discussion" class="col s12">

        <div class="row">
            <div class="card-panel">
                <div class="card-panel row">
                    <form ng-submit="forumCtrl.createForumComment()" class="col s12" name="comments">
                        <div class="row nomargin">
                            <div class="input-field col s12">
                                <textarea id="discussion" ng-model="forumCtrl.newForumComment.comment" class="materialize-textarea nopadding nomargin" minimum="2"
                                    ng-pattern="/^[a-zA-Z0-9\s\-\'\,\_\;]+$/" maxlength="500" data-length="500" placeholder="Write Something..."
                                    style="margin-bottom:0px;"></textarea>
                            </div>
                        </div>
                        <input type="submit" ng-disabled="comments.$invalid" class="btn waves-effect waves-light" value="Post">
                    </form>
                </div>

                <div ng-show="!pagedItems[currentPage]">
                    <h5 class="center red-text"><strong>There Are No Comments</strong></h5>
                </div>
                <div ng-hide="!pagedItems[currentPage]">
                    <div class="row">
                        <div class="center col offset-m4 m3">
                            <ul class="pagination">
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                    <a href="javascript:;" ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                                </li>
                            </ul>
                        </div>

                        <div class="col m4 offset-m1">
                            <!--<select ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show '+size+' Per Page') for size in pageSizes">
                                </select>
                            <label>Materialize Select</label>-->
                        </div>
                    </div>
                </div>
                <div ng-repeat="comment in pagedItems[currentPage]">

                    <div class="card-panel">
                        <div class="row nopadding nomargin" ng-hide="comment.report == 'YES' && user.role == 'USER' || user.role == 'EMPLOYER' ">
                            <div class=" col m0">
                                <img src="../assets/images/users/{{comment.imageURL}}" width="25" height="25">
                            </div>
                            <a href="">{{comment.userName}}</a> <span ng-show="comment.report =='NO'">{{comment.comment}}</span>
                            <span ng-show="comment.report =='YES' && user.role !='USER' && user.role !='EMPLOYER'" class="red-text">{{comment.comment}}</span>
                            <span class="right">
                                    <span ng-show="comment.report =='YES'"><i class="material-icons"><a href = "" class="red-text">report_problem</a></i></span>
                            </span>
                            <span class="right" ng-hide="comment.report == 'YES'">
                                <a class='dropdown-button' href='#' data-activates='comment_{{comment.id}}'><i class="material-icons">more_vert</i></a>

                                <!-- Dropdown Structure -->

                                <ul id='comment_{{comment.id}}' class='dropdown-content'>
                                    <li><a href="#!/user/forum/comment/report/{{comment.id}}">Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#!/user/forum/edit/comment/{{comment.id}}">Edit</a></li>
                                    <li><a href="" ng-click="forumCtrl.deleteForumComment(comment.id)">Delete</a></li>
                                </ul>
                                </span>

                            <br/>
                            <span class="grey-text" style="font-size: 12px;">{{comment.commentDate}}</span>
                        </div>

                        <div ng-show="comment.report == 'YES' && user.role == 'USER' || user.role == 'EMPLOYER' ">
                            <h6 class="center red-text"><strong>This Comment Is Reported</strong></h6>
                        </div>

                    </div>
                </div>
                <div ng-hide="!pagedItems[currentPage]">
                    <div class="center">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--Discussion Section Ends here-->

    <!--Topics Section Starts here-->
    <div id="topics" class="col s12">
        <div class="card-panel row nomargin" style="padding:10px;">
            <div class="left">
                <strong class="black-text" style="font-size:24px;">Topics</strong>
            </div>

            <div class="right"><a data-target="creationForm" class="btn light-blue waves-effect waves-light">+ Create Topic</a></div>
        </div>

        <div class="card-panel">

            <div class="row nomargin">
                <div class="col m8">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="forumCtrl.test" ng-change="search_FOUR()" required="required">
                        <label for="searchKeyword">Search For Topic</label>
                    </div>
                </div>

                <div class="col m4">
                    <select ng-model="itemsPerPage_FOUR" ng-change="perPage_FOUR()" ng-options="('Show '+size+' Per Page') for size in pageSizes_FOUR">
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>

            <div ng-show="!pagedItems_FOUR[currentPage_FOUR]">
                <h5 class="center red-text"><strong>There Are Topic(s) Yet</strong></h5>
            </div>
            <div ng-hide="!pagedItems_FOUR[currentPage_FOUR]">
                <div class="row nomargin">
                    <div class="center">
                        <ul class="pagination nomargin">
                            <li ng-class="{disabled: currentPage_FOUR == 0}">
                                <a href="javascript:;" ng-click="prevPage_FOUR()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems_FOUR.length)" ng-class="{active: n == currentPage_FOUR}" ng-click="setPage_FOUR()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage_FOUR == pagedItems_FOUR.length - 1}">
                                <a href="javascript:;" ng-click="nextPage_FOUR()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-repeat="topic in pagedItems_FOUR[currentPage_FOUR] | orderBy:sortingOrder_FOUR:reverse_FOUR">
                <div ng-hide="topic.status != 'OPEN'">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">

                                <div class="row nomargin">
                                    <div class="col m10">
                                        <p style="font-size: 18px;"><a href="#!/user/forum/topic/view/{{topic.id}}" class="black-text">{{topic.title}}</a></p>
                                    </div>
                                    <span class="right">
                                            <!-- Dropdown Trigger -->
                                <a class='dropdown-button' href='#' data-activates='TOP_{{topic.id}}'><i class="material-icons">more_vert</i></a>
                                            <!-- Dropdown Structure -->
                                    <ul id='TOP_{{topic.id}}' class='dropdown-content'>
                                        <li><a href = "#!/user/forum/topic/report/{{topic.id}}">Report</a></li>
                                        <li class="divider"></li>
                                        <div ng-show="topic.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                            <li><a href = "#!/user/forum/topic/edit/{{topic.id}}">Edit</a></li>
                                            <li><a href = "" ng-click="forumCtrl.performActionOnTopic('Closed', topic.id);">Delete</a></li>
                                        </div>
                                        </ul>
                                        </span>
                                </div>

                                <table class="bordered" style="font-size: 12px; color:grey;">
                                    <tr>
                                        <td>By <a href="">{{topic.userName}}</a></td>
                                        <td> <span>{{topic.createdDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments:
                                            {{topic.noOfComments}}
                                        </td>
                                        <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: {{topic.noOfLikes}}</td>
                                    </tr>
                                    <tr ng-show="topic.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                        <td>Report: {{topic.report}}
                                        </td>
                                        <td>Status: {{topic.status}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="!pagedItems_FOUR[currentPage_FOUR]">
                <div class="row nomargin">
                    <div class="center">
                        <ul class="pagination nomargin">
                            <li ng-class="{disabled: currentPage_FOUR == 0}">
                                <a href="javascript:;" ng-click="prevPage_FOUR()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems_FOUR.length)" ng-class="{active: n == currentPage_FOUR}" ng-click="setPage_FOUR()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage_FOUR == pagedItems_FOUR.length - 1}">
                                <a href="javascript:;" ng-click="nextPage_FOUR()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Topics Section Ends here-->


    <!--My Topics Section Starts here-->
    <div id="myTopics" class="col s12">
        <div class="card-panel row nomargin" style="padding:10px;">
            <div class="left">
                <strong class="black-text" style="font-size:24px;">My Topics</strong>
            </div>

            <div class="right"><a data-target="creationForm" class="btn light-blue waves-effect waves-light">+ Create Topic</a></div>
        </div>

        <div class="card-panel">

            <div class="row nomargin">
                <div class="col m8">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="forumCtrl.query_ONE" ng-change="search_ONE()" required="required">
                        <label for="searchKeyword">Search For Topic</label>
                    </div>
                </div>

                <div class="col m4">
                    <select ng-model="itemsPerPage_ONE" ng-change="perPage_ONE()" ng-options="('Show '+size+' Per Page') for size in pageSizes_ONE">
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>

            <div ng-show="!pagedItems_ONE[currentPage_ONE]">
                <h5 class="center red-text"><strong>You Have Not Created Any Topic(s) Yet OR Search Match Available</strong></h5>
            </div>
            <div ng-hide="!pagedItems_ONE[currentPage_ONE]">
                <div class="row nomargin">
                    <div class="center">
                        <ul class="pagination nomargin">
                            <li ng-class="{disabled: currentPage_ONE == 0}">
                                <a href="javascript:;" ng-click="prevPage_ONE()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems_ONE.length)" ng-class="{active: n == currentPage_ONE}" ng-click="setPage_ONE()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage_ONE == pagedItems_ONE.length - 1}">
                                <a href="javascript:;" ng-click="nextPage_ONE()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-repeat="topic in pagedItems_ONE[currentPage_ONE] | orderBy:sortingOrder_ONE:reverse_ONE">
                <div ng-show="topic.userId == user.id">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="row nomargin">
                                    <div class="col m10">
                                        <p style="font-size: 18px;"><a href="#!/user/forum/topic/view/{{topic.id}}" class="black-text">{{topic.title}}</a></p>
                                    </div>
                                    <span class="right">
                                            <!-- Dropdown Trigger -->
                                <a class='dropdown-button' href='#' data-activates='MOP_{{topic.id}}'><i class="material-icons">more_vert</i></a>
                                            <!-- Dropdown Structure -->
                                    <ul id='MOP_{{topic.id}}' class='dropdown-content'>
                                        <li><a href = "#!/user/forum/topic/report/{{topic.id}}">Report</a></li>
                                        <li class="divider"></li>
                                        <div ng-show="topic.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                            <li><a href = "#!/user/forum/topic/edit/{{topic.id}}">Edit</a></li>
                                            <li><a href = "" ng-click="forumCtrl.performActionOnTopic('Closed', topic.id);">Delete</a></li>
                                        </div>
                                        </ul>
                                        </span>
                                </div>

                                <table class="bordered" style="font-size: 12px; color:grey;">
                                    <tr>
                                        <td>By <a href="">{{topic.userName}}</a></td>
                                        <td> <span>{{topic.createdDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments:
                                            {{topic.noOfComments}}
                                        </td>
                                        <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: {{topic.noOfLikes}}</td>
                                    </tr>
                                    <div>
                                        <tr ng-show="topic.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                            <td>Report: {{topic.report}}
                                            </td>
                                            <td>Status: {{topic.status}}</td>
                                        </tr>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="!pagedItems_ONE[currentPage_ONE]">
                <div class="row nomargin">
                    <div class="center">
                        <ul class="pagination nomargin">
                            <li ng-class="{disabled: currentPage_ONE == 0}">
                                <a href="javascript:;" ng-click="prevPage_ONE()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems_ONE.length)" ng-class="{active: n == currentPage_ONE}" ng-click="setPage_ONE()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage_ONE == pagedItems_ONE.length - 1}">
                                <a href="javascript:;" ng-click="nextPage_ONE()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--My Topics Section Ends here-->


    <!--Pending Topics Section Starts here-->
    <div id="pendingTopics" class="col s12">

        <div class="card-panel row nomargin" style="padding:10px;">
            <div class="left">
                <strong class="black-text" style="font-size:24px;">Pending Topics</strong>
            </div>

            <div class="right"><a ng-click="forumCtrl.approveAllTopics();" class="btn light-blue waves-effect waves-light">Approve All Topic</a></div>
        </div>

        <div class="card-panel">

            <div class="row nomargin">
                <div class="col m8">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="forumCtrl.query_TWO" ng-change="search_TWO()" required="required">
                        <label for="searchKeyword">Search For Topic</label>
                    </div>
                </div>

                <div class="col m4">
                    <select ng-model="itemsPerPage_TWO" ng-change="perPage_TWO()" ng-options="('Show '+size+' Per Page') for size in pageSizes_TWO">
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>

            <div ng-show="!pagedItems_TWO[currentPage_TWO]">
                <h5 class="center red-text"><strong>There Are No Pending Topic(s) OR Search Match Available</strong></h5>
            </div>
            <div ng-hide="!pagedItems_TWO[currentPage_TWO]">
                <div class="row nomargin">
                    <div class="center">
                        <ul class="pagination nomargin">
                            <li ng-class="{disabled: currentPage_TWO == 0}">
                                <a href="javascript:;" ng-click="prevPage_TWO()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems_TWO.length)" ng-class="{active: n == currentPage_TWO}" ng-click="setPage_TWO()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage_TWO == pagedItems_TWO.length - 1}">
                                <a href="javascript:;" ng-click="nextPage_TWO()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-repeat="topic in pagedItems_TWO[currentPage_TWO] | orderBy:sortingOrder_TWO:reverse_TWO">

                <div ng-show="topic.status == 'PENDING'">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="row nomargin">
                                    <div class="col m10">
                                        <p style="font-size: 18px;"><a href="#!/user/forum/topic/view/{{topic.id}}" class="black-text">{{topic.title}}</a></p>
                                    </div>
                                    <span class="right">
                                            <!-- Dropdown Trigger -->
                                <a class='dropdown-button' href='#' data-activates='POP_{{topic.id}}'><i class="material-icons">more_vert</i></a>
                                            <!-- Dropdown Structure -->
                                    <ul id='POP_{{topic.id}}' class='dropdown-content'>
                                        <li><a ng-click="forumCtrl.performActionOnTopic('Open', topic.id);">Open</a></li>
                                        <li><a ng-click="forumCtrl.performActionOnTopic('Rejected', topic.id);">Reject</a></li>
                                        </ul>
                                        </span>
                                </div>

                                <table class="bordered" style="font-size: 12px; color:grey;">
                                    <tr>
                                        <td>By <a href="">{{topic.userName}}</a></td>
                                        <td> <span>{{topic.createdDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments:
                                            {{topic.noOfComments}}
                                        </td>
                                        <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: {{topic.noOfLikes}}</td>
                                    </tr>
                                    <tr ng-show="topic.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                        <td>Report: {{topic.report}}
                                        </td>
                                        <td>Status: {{topic.status}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="!pagedItems_TWO[currentPage_TWO]">
                <div class="row nomargin">
                    <div class="center">
                        <ul class="pagination nomargin">
                            <li ng-class="{disabled: currentPage_TWO == 0}">
                                <a href="javascript:;" ng-click="prevPage_TWO()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems_TWO.length)" ng-class="{active: n == currentPage_TWO}" ng-click="setPage_TWO()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage_TWO == pagedItems_TWO.length - 1}">
                                <a href="javascript:;" ng-click="nextPage_TWO()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Pending Topics Section Ends here-->

    <!--Rejected Topics Section Starts here-->
    <div id="rejectedTopics" class="col s12">

        <div class="card-panel row nomargin" style="padding:10px;">
            <div class="left">
                <strong class="black-text" style="font-size:24px;">Rejected Topics</strong>
            </div>

            <!--<div class="right"><a ng-click="forumCtrl.approveAllTopics();" class="btn light-blue waves-effect waves-light">Approve All Topic</a></div>-->
        </div>

        <div class="card-panel">

            <div class="row nomargin">
                <div class="col m8">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="forumCtrl.query_THREE" ng-change="search_THREE()" required="required">
                        <label for="searchKeyword">Search For Topic</label>
                    </div>
                </div>

                <div class="col m4">
                    <select ng-model="itemsPerPage_THREE" ng-change="perPage_THREE()" ng-options="('Show '+size+' Per Page') for size in pageSizes_THREE">
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>

            <div ng-show="!pagedItems_THREE[currentPage_THREE]">
                <h5 class="center red-text"><strong>There Are No Rejected Topic(s) OR Search Match Available</strong></h5>
            </div>
            <div ng-hide="!pagedItems_THREE[currentPage_THREE]">
                <div class="row nomargin">
                    <div class="center">
                        <ul class="pagination nomargin">
                            <li ng-class="{disabled: currentPage_THREE == 0}">
                                <a href="javascript:;" ng-click="prevPage_THREE()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems_THREE.length)" ng-class="{active: n == currentPage_THREE}" ng-click="setPage_THREE()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage_THREE == pagedItems_THREE.length - 1}">
                                <a href="javascript:;" ng-click="nextPage_THREE()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-repeat="topic in pagedItems_THREE[currentPage_THREE] | orderBy:sortingOrder_THREE:reverse_THREE">

                <div ng-show="topic.status == 'REJECTED'">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="row nomargin">
                                    <div class="col m10">
                                        <p style="font-size: 18px;"><a href="#!/user/forum/topic/view/{{topic.id}}" class="black-text">{{topic.title}}</a></p>
                                    </div>
                                    <span class="right">
                                            <!-- Dropdown Trigger -->
                                <a class='dropdown-button' href='#' data-activates='ROP_{{topic.id}}'><i class="material-icons">more_vert</i></a>
                                            <!-- Dropdown Structure -->
                                    <ul id='ROP_{{topic.id}}' class='dropdown-content'>
                                        <li><a ng-click="forumCtrl.performActionOnTopic('Open', topic.id);">Open</a></li>
                                        <!--<li><a ng-click="forumCtrl.performActionOnTopic('Rejected', topic.id);">Reject</a></li>-->
                                        </ul>
                                        </span>
                                </div>

                                <table class="bordered" style="font-size: 12px; color:grey;">
                                    <tr>
                                        <td>By <a href="">{{topic.userName}}</a></td>
                                        <td> <span>{{topic.createdDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments:
                                            {{topic.noOfComments}}
                                        </td>
                                        <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: {{topic.noOfLikes}}</td>
                                    </tr>
                                    <div ng-show="topic.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                        <tr>
                                            <td>Report: {{topic.report}}
                                            </td>
                                            <td>Status: {{topic.status}}</td>
                                        </tr>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="!pagedItems_THREE[currentPage_THREE]">
                <div class="row nomargin">
                    <div class="center">
                        <ul class="pagination nomargin">
                            <li ng-class="{disabled: currentPage_THREE == 0}">
                                <a href="javascript:;" ng-click="prevPage_THREE()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems_THREE.length)" ng-class="{active: n == currentPage_THREE}" ng-click="setPage_THREE()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage_THREE == pagedItems_THREE.length - 1}">
                                <a href="javascript:;" ng-click="nextPage_THREE()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Rejected Topics Section Ends here-->

    <!--Topics Section Ends here-->
</div>
</div>

<!-- Modal Structure -->
<div id="creationForm" class="modal">
    <div class="modal-content">
        <h5>Create Topic</h5>
        <hr/>
        <div class="row nomargin">
            <div class="col offset-m3 m6">
                <div class="card-panel">
                    <form name="createForm" ng-submit="forumCtrl.createTopic()" novalidate>

                        <!--title field starts here-->
                        <div class="input-field nomargin">
                            <input type="text" name="title" id="title" ng-pattern="/^[a-zA-Z0-9\s]+$/" ng-minlength="2" maxlength="50" ng-maxlength="50"
                                data-length="50" ng-model="forumCtrl.newTopic.title" placeholder="Topic Name" required="required">
                            <div class="invalid-data center-align" ng-show="createForm.title.$dirty">
                                <span ng-show="createForm.title.$dirty && createForm.title.$error.required">Please, Provide Topic Name</span>
                                <span ng-show="createForm.title.$error.minlength">This field must contain atleast 2 charachters</span>
                                <span ng-show="createForm.title.$error.maxlength">This field can contain maximum 50 charachters</span>
                                <span ng-show="createForm.title.$error.pattern">This field cannot contain special charachters</span>
                            </div>
                        </div>
                        <!--title field ends here-->

                        <!--description field starts here-->
                        <div class="input-field nomargin">

                            <textarea id="description" class="materialize-textarea" style="margin-bottom: 0px;" ng-pattern="/^[a-zA-Z0-9\s\-\'\,\_\;]+$/"
                                ng-minlength="20" maxlength="4000" ng-maxlength="4000" placeholder="Forum Description" data-length="4000"
                                ng-model="forumCtrl.newTopic.description" placeholder="description" required="required"></textarea>
                            <div class="invalid-data center-align" ng-show="createForm.description.$dirty">
                                <span ng-show="createForm.description.$dirty && createForm.description.$error.required">Please, Provide Description</span>
                                <span ng-show="createForm.description.$error.minlength">This field must contain atleast 20 charachters</span>
                                <span ng-show="createForm.description.$error.maxlength">This field can contain maximum 4000 charachters</span>
                                <span ng-show="createForm.description.$error.pattern">This field can contain only '-,_;' these special charachters</span>
                            </div>

                        </div>
                        <!--description field ends here-->

                        <!--ImageURL field starts here-->
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <!--ImageURL field ends here-->

                        <div class="input-field">
                            <div class="hoverable">
                                <input type="submit" class="btn light-blue modal-close waves-effect waves-light full-width" ng-disabled="createForm.$invalid"
                                    value="Save Changes">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>