<div class="row" ng-init="forumCtrl.getMembers();">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!/user/home" class="breadcrumb">Home</a>
                        <a href="#!/user/forums" class="breadcrumb">Forums</a>
                        <a href="#!/user/forum/view/{{forumCtrl.forum.id}}" class="breadcrumb">{{forumCtrl.forum.forumName}}</a>
                        <a class="breadcrumb">Members</a>
                    </div>
                </div>
            </nav>
        </div>


        <div class="card-panel">
            <div class="row nomargin">
                <div class="col m2 nopadding nomargin">
                    <strong style="font-size:20px;" class="grey-text">Forum Request</strong>
                </div>
                <div class="col m4">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="query" ng-change="search()" required="required">
                        <label for="searchKeyword">Search For Member</label>
                    </div>
                </div>

                <div class="col m3">
                    <select ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show '+size+' Per Page') for size in pageSizes">
                      
                    </select>
                    <label>Materialize Select</label>
                </div>

                <div class="col m2 offset-m1">
                    <a href="" ng-click="forumCtrl.approveAllRequest(forumCtrl.forum.id)" class="btn light-blue waves-effect waves-light">Accept All</a>
                </div>

            </div>
            <hr/>
            <div ng-hide="pagedItems[currentPage]">
                <strong> <h5 class="center red-text">There Are No Pending Request OR Search Match Available </h5> </strong>
            </div>
            <div ng-hide="!pagedItems[currentPage]">

                <table class="highlight bordered">
                    <thead>
                        <tr>
                            <td class="center"><a href="" ng-click="sort_by('userName')">Username</a></td>
                            <td class="center"><a href="" ng-click="sort_by('role')">Role</a></td>
                            <td class="center"><a href="" ng-click="sort_by('status')">Status</a></td>
                            <td class="center">Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="member in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                            <td class="center">{{member.userName}}</td>
                            <td class="center">{{member.role}}</td>
                            <td class="center">{{member.status}}</td>
                            <td class="center" ng-if="member.status == 'APPROVED' ">
                                <a href="" ng-click="forumCtrl.performActionOnRequest('Cancel', member.id)" style="color:black;"><i class="material-icons ">block</i></a>
                            </td>

                            <td class="center" ng-if=" member.status == 'PENDING' ">
                                <a href="" ng-click="forumCtrl.performActionOnRequest('Approved', member.id)" style="color:black;"><i class="material-icons">done</i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#!" ng-click="forumCtrl.performActionOnRequest('Cancel', member.id)" style="color:black;"><i class="material-icons">close</i></a>
                            </td>

                        </tr>

                    </tbody>

                </table>

                <div class="row">
                    <div class="col offset-m5">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>