<div class="row">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!" class="breadcrumb">Home</a>

                        <a href="#!" class="breadcrumb">Forums</a>

                        <a href="#!" class="breadcrumb">Forum Name</a>

                        <a href="#!" class="breadcrumb">Topic Name</a>

                    </div>
                </div>
            </nav>
        </div>


        <div class="card">
            <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg" height="300px;">
                <span class="card-title"><strong>Forum Name</strong></span>
            </div>
            <div class="card-panel">

                <div class="center">
                    <ul class="pagination nomargin">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>

                <div class="card-panel">
                    <div class="row nopadding nomargin">
                        <div class=" col m0">
                            <img src="http://lorempixel.com/800/400/nature/4" width="25" height="25">
                        </div>
                        <a href="">{{user.firstName}} {{user.lastName}}</a> slkfkhdlkfdlkjfldsjfdslkfkjsdl <span class="right">
                               <!-- Dropdown Trigger -->
                               <a class='dropdown-button' href='#' data-activates='op'><i class="material-icons">more_vert</i></a>

                                <!-- Dropdown Structure -->
                                <ul id='op' class='dropdown-content'>
                                    <li><a href="#!">Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#!">Edit</a></li>
                                    <li><a href="#!">Delete</a></li>
                                </ul>
                            </span><br/>
                        <span class="grey-text" style="font-size: 12px;">3 month(s) ago</span>
                    </div>
                </div>

                <div class="card-panel">
                    <div class="row nopadding nomargin">
                        <div class=" col m0">
                            <img src="http://lorempixel.com/800/400/nature/4" width="25" height="25">
                        </div>
                        <a href="">{{user.firstName}} {{user.lastName}}</a> slkfkhdlkfdlkjfldsjfdslkfkjsdl <span class="right">
                               <!-- Dropdown Trigger -->
                               <a class='dropdown-button' href='#' data-activates='op'><i class="material-icons">more_vert</i></a>

                                <!-- Dropdown Structure -->
                                <ul id='op' class='dropdown-content'>
                                    <li><a href="#!">Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#!">Edit</a></li>
                                    <li><a href="#!">Delete</a></li>
                                </ul>
                            </span><br/>
                        <span class="grey-text" style="font-size: 12px;">3 month(s) ago</span>
                    </div>
                </div>


                <div class="card-panel">
                    <div class="row nopadding nomargin">
                        <div class=" col m0">
                            <img src="http://lorempixel.com/800/400/nature/4" width="25" height="25">
                        </div>
                        <a href="">{{user.firstName}} {{user.lastName}}</a> slkfkhdlkfdlkjfldsjfdslkfkjsdl <span class="right">
                               <!-- Dropdown Trigger -->
                               <a class='dropdown-button' href='#' data-activates='op'><i class="material-icons">more_vert</i></a>

                                <!-- Dropdown Structure -->
                                <ul id='op' class='dropdown-content'>
                                    <li><a href="#!">Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#!">Edit</a></li>
                                    <li><a href="#!">Delete</a></li>
                                </ul>
                            </span><br/>
                        <span class="grey-text" style="font-size: 12px;">3 month(s) ago</span>
                    </div>
                </div>

                <div class="card-panel">
                    <div class="row nopadding nomargin">
                        <div class=" col m0">
                            <img src="http://lorempixel.com/800/400/nature/4" width="25" height="25">
                        </div>
                        <a href="">{{user.firstName}} {{user.lastName}}</a> slkfkhdlkfdlkjfldsjfdslkfkjsdl <span class="right">
                               <!-- Dropdown Trigger -->
                               <a class='dropdown-button' href='#' data-activates='op'><i class="material-icons">more_vert</i></a>

                                <!-- Dropdown Structure -->
                                <ul id='op' class='dropdown-content'>
                                    <li><a href="#!">Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#!">Edit</a></li>
                                    <li><a href="#!">Delete</a></li>
                                </ul>
                            </span><br/>
                        <span class="grey-text" style="font-size: 12px;">3 month(s) ago</span>
                    </div>
                </div>


                <div class="card-panel">
                    <div class="row nopadding nomargin">
                        <div class=" col m0">
                            <img src="http://lorempixel.com/800/400/nature/4" width="25" height="25">
                        </div>
                        <a href="">{{user.firstName}} {{user.lastName}}</a> slkfkhdlkfdlkjfldsjfdslkfkjsdl <span class="right">
                               <!-- Dropdown Trigger -->
                               <a class='dropdown-button' href='#' data-activates='op'><i class="material-icons">more_vert</i></a>

                                <!-- Dropdown Structure -->
                                <ul id='op' class='dropdown-content'>
                                    <li><a href="#!">Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#!">Edit</a></li>
                                    <li><a href="#!">Delete</a></li>
                                </ul>
                            </span><br/>
                        <span class="grey-text" style="font-size: 12px;">3 month(s) ago</span>
                    </div>
                </div>
                <div class="center">
                    <ul class="pagination nomargin">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>

                <div class="card-panel row">
                    <form class="col s12">
                        <div class="row nomargin">
                            <div class="input-field col s12">
                                <textarea id="discussion" class="materialize-textarea nopadding nomargin" maxlength="120" data-length="120" placeholder="Post Your Comment"
                                    style="margin-bottom:0px;"></textarea>
                            </div>
                        </div>
                        <input type="submit" class="btn waves-effect waves-light" value="Post">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>