<div class="row" ng-init="jobCtrl.getJob()">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!" class="breadcrumb">Home</a>

                        <a href="#!" class="breadcrumb">Jobs</a>

                        <a href="#!" class="breadcrumb">Job Name</a>

                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="row">
                            <span class="right">
                                <a class='dropdown-button' href='#' data-activates='jobOption'><i class="material-icons">more_vert</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='jobOption' class='dropdown-content'>
                                <li><a href="#!">Report</a></li>
                                <li class="divider"></li>
                                <li><a href="#!">Edit</a></li>
                                <li><a href="#!">Delete</a></li>
                            </ul>

                            </span>
                            <p style="font-size: 18px;">{{jobCtrl.job.title}}</p>
                            <p style="color: grey; font-size: 14px;">{{jobCtrl.job.company}}</p>
                        </div>
                        <table class="bordered" style="font-size: 12px; color:grey;">
                            <tr>
                                <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                <td> <span>On: April 4th, 2017</span></td>
                            </tr>
                            <tr>
                                <td><i class="material-icons" style="font-size: 13px;">business_center</i> {{jobCtrl.job.experience}}
                                    yrs
                                </td>
                                <td><i class="material-icons" style="font-size: 14px;">location_on</i> {{jobCtrl.job.location}}</td>
                            </tr>
                            <tr>
                                <td>&#8377; {{jobCtrl.job.salary}} P.A.
                                </td>
                                <td>Key Skills: {{jobCtrl.job.keySkills}}</td>
                            </tr>
                        </table>
                        <a ng-click="jobCtrl.applyJob(jobCtrl.job.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div><br/>

            <div class="card-panel">
                <strong style="font-size: 20px;" class="grey-text">Description</strong>
                <hr/>{{jobCtrl.job.description}}
            </div>

            <div class="card-panel">
                <strong style="font-size: 20px;" class="grey-text">Key Skills</strong>
                <hr/> {{jobCtrl.job.keySkills}}
            </div>
            <!--
            <div class="card-panel">
                <strong style="font-size: 20px;" class="grey-text">Desired Candidate Profile</strong>
                <hr/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

            <div class="card-panel">
                <strong style="font-size: 20px;" class="grey-text">Company Profile</strong>
                <hr/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.<br/><br/>

                <strong style="font-size: 20px;" class="grey-text">Company Contact Details</strong>
                <hr/>
                <table class="table">
                    <tr>
                        <td>Recruiter Name:</td>
                        <td>Sarita</td>
                    </tr>
                    <tr>
                        <td>Contact Company:</td>
                        <td>IDBI INTECH LTD</td>
                    </tr>
                    <tr>
                        <td>Email Address:</td>
                        <td>vinita.kulkarni@idbiintech.com</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td>http://www.iil01.com</td>
                    </tr>
                </table>
            </div>-->

            <div class="card-panel">
                <a ng-click="jobCtrl.applyJob(jobCtrl.job.id)" class="waves-effect waves-light btn">Apply</a>
            </div>

        </div>

    </div>
</div>