<div class="row" ng-init="jobCtrl.getJob()">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!/user/home" class="breadcrumb">Home</a>

                        <a href="#!/user/jobs" class="breadcrumb">Jobs</a>

                        <a href="#!" class="breadcrumb">{{jobCtrl.job.title}}</a>

                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel">
            <div ng-show="jobCtrl.job.report == 'YES'">
                <span class="red-text"><i class="material-icons" style="font-size:40px;">report_problem</i><span style="font-size: 40px;">&nbsp;This Job is Reported</span></span>
            </div>
            <div ng-show="jobCtrl.job.status == 'PENDING'">
                <span class="red-text"><i class="material-icons" style="font-size:40px;">report_problem</i><span style="font-size: 40px;">&nbsp;This Job is Pending</span></span>
            </div>
            <div ng-show="jobCtrl.job.status == 'CLOSED'">
                <span class="red-text"><i class="material-icons" style="font-size:40px;">report_problem</i><span style="font-size: 40px;">&nbsp;This Job is Closed</span></span>
            </div>
            <div ng-show="jobCtrl.job.status == 'REJECTED'">
                <span class="red-text"><i class="material-icons" style="font-size:40px;">report_problem</i><span style="font-size: 40px;">&nbsp;This Job is Disable</span></span>
            </div>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="row">
                            <span class="right">
                                <a class='dropdown-button' href='#' data-activates='jobOption_{{jobCtrl.job.id}}'><i class="material-icons">more_vert</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='jobOption_{{jobCtrl.job.id}}' class='dropdown-content'>
                                <div ng-show="jobCtrl.job.status != 'APPROVED' && user.role != 'USER' && user.role != 'EMPLOYER'">
                                    <li><a href="" ng-click="jobCtrl.approveJob( jobCtrl.job.id, 'Approved')">Approve Job</a></li>  
                                    <li><a href="" ng-click="jobCtrl.deleteJob('Closed', jobCtrl.job.id)">Delete</a></li>
                                </div>
                                <div ng-show="jobCtrl.job.report == 'YES' && user.role != 'USER' && user.role != 'EMPLOYER'">
                                    <li><a href="#!/admin/report/job">Handle Report</a></li>  
                                    <li><a href="" ng-click="jobCtrl.deleteJob('Closed', jobCtrl.job.id)">Delete</a></li>
                                </div>
                            <div ng-hide="jobCtrl.job.report == 'YES' || jobCtrl.job.status != 'APPROVED'">
                                <li><a href="#!/user/job/report/{{jobCtrl.job.id}}">Report</a></li>
                                <span ng-show="jobCtrl.job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                    <li class="divider"></li>
                                    <li><a href="#!/user/job/editJob/{{jobCtrl.job.id}}">Edit</a></li>
                                    <li><a href="" ng-click="jobCtrl.deleteJob('Closed', jobCtrl.job.id)">Delete</a></li>
                                </span>
                        </div>
                        </ul>

                        </span>
                        <p style="font-size: 18px;">{{jobCtrl.job.title}}</p>
                        <p style="color: grey; font-size: 14px;">{{jobCtrl.job.company}}</p>
                    </div>
                    <table class="bordered" style="font-size: 12px; color:grey;">
                        <tr>
                            <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                            <td> <span>On: April 4th, 2017</span></td>
                        </tr>
                        <tr>
                            <td><i class="material-icons" style="font-size: 13px;">business_center</i> {{jobCtrl.job.experience}}
                                yrs
                            </td>
                            <td><i class="material-icons" style="font-size: 14px;">location_on</i> {{jobCtrl.job.location}}</td>
                        </tr>
                        <tr>
                            <td>&#8377; {{jobCtrl.job.salary}} P.A.
                            </td>
                            <td>Key Skills: {{jobCtrl.job.keySkills}}</td>
                        </tr>
                        <div ng-show="jobCtrl.job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                            <tr>
                                <td>Report: {{jobCtrl.job.report}}
                                </td>
                                <td>Status: {{jobCtrl.job.status}}</td>
                            </tr>
                        </div>
                    </table>
                    <div ng-hide="jobCtrl.job.report == 'YES' || jobCtrl.job.status != 'APPROVED'">
                        <a ng-click="jobCtrl.applyJob(jobCtrl.job.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>
        </div><br/>

        <div class="card-panel">
            <strong style="font-size: 20px;" class="grey-text">Description</strong>
            <hr/>{{jobCtrl.job.description}}
        </div>

        <div class="card-panel">
            <strong style="font-size: 20px;" class="grey-text">Key Skills</strong>
            <hr/> {{jobCtrl.job.keySkills}}
        </div>
        <!--
            <div class="card-panel">
                <strong style="font-size: 20px;" class="grey-text">Desired Candidate Profile</strong>
                <hr/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

            <div class="card-panel">
                <strong style="font-size: 20px;" class="grey-text">Company Profile</strong>
                <hr/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.<br/><br/>

                <strong style="font-size: 20px;" class="grey-text">Company Contact Details</strong>
                <hr/>
                <table class="table">
                    <tr>
                        <td>Recruiter Name:</td>
                        <td>Sarita</td>
                    </tr>
                    <tr>
                        <td>Contact Company:</td>
                        <td>IDBI INTECH LTD</td>
                    </tr>
                    <tr>
                        <td>Email Address:</td>
                        <td>vinita.kulkarni@idbiintech.com</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td>http://www.iil01.com</td>
                    </tr>
                </table>
            </div>-->

        <div ng-hide="jobCtrl.job.report == 'YES' || jobCtrl.job.status != 'APPROVED'">
            <div class="card-panel">
                <a ng-click="jobCtrl.applyJob(jobCtrl.job.id)" class="waves-effect waves-light btn">Apply</a>
            </div>
        </div>
        <div ng-hide="jobCtrl.job.report != 'YES'">
            <span class="red-text"><i class="material-icons" style="font-size:40px;">report_problem</i><span style="font-size: 40px;">&nbsp;This Job is Reported</span></span>
        </div>
        <div ng-show="jobCtrl.job.status == 'PENDING'">
            <span class="red-text"><i class="material-icons" style="font-size:40px;">report_problem</i><span style="font-size: 40px;">&nbsp;This Job is Pending</span></span>
        </div>
        <div ng-show="jobCtrl.job.status == 'CLOSED'">
            <span class="red-text"><i class="material-icons" style="font-size:40px;">report_problem</i><span style="font-size: 40px;">&nbsp;This Job is Closed</span></span>
        </div>
        <div ng-show="jobCtrl.job.status == 'REJECTED'">
            <span class="red-text"><i class="material-icons" style="font-size:40px;">report_problem</i><span style="font-size: 40px;">&nbsp;This Job is Disable</span></span>
        </div>
    </div>

</div>
</div>