<div class="row" ng-init="jobCtrl.getJob()">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!/user/home" class="breadcrumb">Home</a>

                        <a href="#!/user/jobs" class="breadcrumb">Jobs</a>

                        <a class="breadcrumb">{{jobCtrl.job.title}}</a>

                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel">
            <div ng-show="jobCtrl.job.report == 'YES'">
                <h5 class="red-text center"><strong>This Job is Reported</strong></h5>
            </div>
            <div ng-show="jobCtrl.job.status == 'PENDING'">
                <h5 class="red-text center"><strong>This Job is Pending</strong></h5>
            </div>
            <div ng-show="jobCtrl.job.status == 'CLOSED'">
                <h5 class="red-text center"><strong>This Job is Closed</strong></h5>
            </div>
            <div ng-show="jobCtrl.job.status == 'REJECTED'">
                <h5 class="red-text center"><strong>This Job is Disable</strong></h5>
            </div>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="row">
                            <span ng-hide="jobCtrl.job.report == 'YES' || jobCtrl.job.status != 'APPROVED'">
                                <span class="right">
                                <a class='dropdown-button' href='#' data-activates='jobOption_{{jobCtrl.job.id}}'><i class="material-icons">more_vert</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='jobOption_{{jobCtrl.job.id}}' class='dropdown-content'>
                                <li><a href="#!/user/job/report/{{jobCtrl.job.id}}">Report</a></li>
                                <span ng-show="jobCtrl.job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                    <li class="divider"></li>
                                    <li><a href="#!/user/job/editJob/{{jobCtrl.job.id}}">Edit</a></li>
                                    <li><a href="" ng-click="jobCtrl.deleteJob('Closed', jobCtrl.job.id)">Delete</a></li>
                                </span>
                            </ul>

                            </span>
                            </span>
                            <p style="font-size: 18px;">{{jobCtrl.job.title}}</p>
                            <p style="color: grey; font-size: 14px;">{{jobCtrl.job.company}}</p>
                        </div>
                        <table class="bordered" style="font-size: 12px; color:grey;">
                            <tr>
                                <td>By <a href="#!/user/profile/{{jobCtrl.job.userId}}">{{jobCtrl.job.userName}}</a></td>
                                <td> <span>On: {{jobCtrl.job.postDate}}</span></td>
                            </tr>
                            <tr>
                                <td><i class="material-icons" style="font-size: 13px;">business_center</i> {{jobCtrl.job.experience}}
                                    yrs
                                </td>
                                <td><i class="material-icons" style="font-size: 14px;">location_on</i> {{jobCtrl.job.location}}</td>
                            </tr>
                            <tr>
                                <td>&#8377; {{jobCtrl.job.salary}} P.A.
                                </td>
                                <td>Key Skills: {{jobCtrl.job.keySkills}}</td>
                            </tr>
                            <div ng-show="jobCtrl.job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                <tr>
                                    <td>Report: {{jobCtrl.job.report}}
                                    </td>
                                    <td>Status: {{jobCtrl.job.status}}</td>
                                </tr>
                            </div>
                        </table>
                        <a ng-click="jobCtrl.applyJob(jobCtrl.job.id)" ng-show="jobCtrl.job.status == 'APPROVED' && jobCtrl.job.report != 'YES'"
                            class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        <div ng-repeat="jobApplied in jobCtrl.job.jobApplied">
                            <a ng-show="jobApplied.userId == user.id && jobCtrl.job.status == 'APPROVED' && jobCtrl.job.report != 'YES'" ng-click="jobCtrl.delAppliedJob(jobApplied.id)"
                                class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                        </div>
                        <a ng-show="jobCtrl.job.userId == user.id && jobCtrl.job.status == 'APPROVED' && jobCtrl.job.report != 'YES'" ng-click="jobCtrl.deleteJob('Closed', jobCtrl.job.id)"
                            class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div><br/>

            <div class="card-panel">
                <strong style="font-size: 20px;" class="grey-text">Description</strong>
                <hr/>{{jobCtrl.job.description}}
            </div>

            <div class="card-panel">
                <strong style="font-size: 20px;" class="grey-text">Key Skills</strong>
                <hr/> {{jobCtrl.job.keySkills}}
            </div>
            <!--
            <div class="card-panel">
                <strong style="font-size: 20px;" class="grey-text">Desired Candidate Profile</strong>
                <hr/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

            <div class="card-panel">
                <strong style="font-size: 20px;" class="grey-text">Company Profile</strong>
                <hr/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.<br/><br/>

                <strong style="font-size: 20px;" class="grey-text">Company Contact Details</strong>
                <hr/>
                <table class="table">
                    <tr>
                        <td>Recruiter Name:</td>
                        <td>Sarita</td>
                    </tr>
                    <tr>
                        <td>Contact Company:</td>
                        <td>IDBI INTECH LTD</td>
                    </tr>
                    <tr>
                        <td>Email Address:</td>
                        <td>vinita.kulkarni@idbiintech.com</td>
                    </tr>
                    <tr>
                        <td>Website:</td>
                        <td>http://www.iil01.com</td>
                    </tr>
                </table>
            </div>-->

            <div ng-hide="jobCtrl.job.report == 'YES' || jobCtrl.job.status != 'APPROVED' || jobCtrl.job.userId == user.id">
                <div class="card-panel">
                    <a ng-click="jobCtrl.applyJob(jobCtrl.job.id)" class="btn light-blue waves-effect waves-light">Apply</a>
                </div>
            </div>
            <div ng-show="jobCtrl.job.report == 'YES'">
                <div class="card-panel">
                    <h5 class="red-text center"><strong>This Job is Reported</strong></h5>
                </div>
            </div>
            <div ng-show="jobCtrl.job.status == 'PENDING'">
                <div class="card-panel">
                    <h5 class="red-text center"><strong>This Job is Pending</strong></h5>
                </div>
            </div>
            <div ng-show="jobCtrl.job.status == 'CLOSED'">
                <div class="card-panel">
                    <h5 class="red-text center"><strong>This Job is Closed</strong></h5>
                </div>
            </div>
            <div ng-show="jobCtrl.job.status == 'REJECTED'">
                <div class="card-panel">
                    <h5 class="red-text center"><strong>This Job is Disable</strong></h5>
                </div>
            </div>
        </div>

    </div>
</div>