<div class="row">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!" class="breadcrumb">Home</a>

                        <span class="right"><button class="btn waves-effect waves-light">+ Create Job</button></span>

                        <a href="#!" class="breadcrumb">Jobs</a>

                    </div>
                </div>
            </nav>
        </div>
        <div class="card-panel nopadding">
            <div class="card-content">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width ">
                        <li class="tab"><a href="#allJobs" class="active">All Jobs</a></li>
                        <li class="tab"><a href="#appliedJob">Applied Job</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="allJobs">
            <div class="card-panel">

                <div class="center">
                    <ul class="pagination nomargin nopadding">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">

                            <div class="row">
                                <span class="right">
                                <a class='dropdown-button' href='#' data-activates='jobOption'><i class="material-icons">more_vert</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='jobOption' class='dropdown-content'>
                                <li><a href="#!">Report</a></li>
                                <li class="divider"></li>
                                <li><a href="#!">Edit</a></li>
                                <li><a href="#!">Delete</a></li>
                            </ul>

                            </span>

                                <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                                <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            </div>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div><br/>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div><br/>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div><br/>


                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div><br/>


                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div><br/>

                <div class="center">
                    <ul class="pagination nopadding nomargin">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div id="appliedJob">

            <div class="card-panel">

                <div class="center">
                    <ul class="pagination nomargin nopadding">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">

                            <div class="row">
                                <span class="right">
                                <a class='dropdown-button' href='#' data-activates='jobOption'><i class="material-icons">more_vert</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='jobOption' class='dropdown-content'>
                                <li><a href="#!">Report</a></li>
                                <li class="divider"></li>
                                <li><a href="#!">Edit</a></li>
                                <li><a href="#!">Delete</a></li>
                            </ul>

                            </span>

                                <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                                <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            </div>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                        </div>
                    </div>
                </div><br/>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                        </div>
                    </div>
                </div><br/>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                        </div>
                    </div>
                </div><br/>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                        </div>
                    </div>
                </div><br/>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                        </div>
                    </div>
                </div><br/>

                <div class="center">
                    <ul class="pagination nomargin nopadding">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>