<div class="row" ng-init="jobCtrl.fetchAllJobs()">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!user/home" class="breadcrumb">Home</a>

                        <a href="#!" class="breadcrumb">Jobs</a>

                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel nopadding">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab col s3"><a class="active" href="#jobs">Jobs</a></li>
                        <li class="tab col s3"><a href="#appliedJobs">Applied Jobs</a></li>
                        <li class="tab col s3"><a href="#createdJobs">Created Jobs</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="jobs">
            <div class="card-panel row" style="padding:10px;">
                <div class="left">
                    <strong class="black-text" style="font-size:24px;">Jobs</strong>
                </div>

                <div class="right">
                    <span ng-show="user.role != 'USER'" class="right"><a class="btn light-blue waves-effect waves-light" href = "#!/user/job/createJob">+ Create Job</a></span>
                </div>
            </div>


            <div class="card-panel">
                <div class="row">
                    <div class="col m8">
                        <div class="input-field nomargin">
                            <input type="text" style="margin-bottom:0px;" ng-model="query" ng-change="search()" required="required">
                            <label for="searchKeyword">Search For Job</label>
                        </div>
                    </div>

                    <div class="col m4">
                        <select ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show '+size+' Per Page') for size in pageSizes">
                    </select>
                        <label>Materialize Select</label>
                    </div>
                </div>
                <div ng-show="!pagedItems[currentPage]">
                    <h4 class="center red-text">No Jobs Or No Search Match Available</h4>
                </div>
                <div ng-hide="!pagedItems[currentPage]">
                    <div class="center">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row nomargin" ng-repeat="job in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                    <div ng-hide="job.status != 'APPROVED' || job.report != 'NO'">
                        <div class="card horizontal">
                            <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                            <div class="card-stacked">
                                <div class="card-content">

                                    <div class="row nomargin">
                                        <span class="right">
                                <a class='dropdown-button' href='#' data-activates='jobOption_{{job.id}}'><i class="material-icons">more_vert</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='jobOption_{{job.id}}' class='dropdown-content'>
                                            <div ng-hide="job.report == 'YES' || job.status != 'APPROVED'">
                                            <li><a href="#!/user/job/report/{{job.id}}">Report</a></li>
                                            <span ng-show="job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                                <li class="divider"></li>
                                                <li><a href="#!/user/job/editJob/{{job.id}}">Edit</a></li>
                                                <li><a href="" ng-click="jobCtrl.deleteJob('Closed', job.id)">Delete</a></li>
                                            </span>
                                    </div>
                                    </ul>

                                    </span>
                                    <p style="font-size: 18px;"><a class="black-text" href="#!/user/job/view/{{job.id}}">{{job.title}}</a></p>
                                    <p style="color: grey; font-size: 14px;">{{job.company}}</p>
                                </div>
                                <table class="bordered" style="font-size: 12px; color:grey;">
                                    <tr>
                                        <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                        <td>On: <span>{{job.postDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 13px;">business_center</i> {{job.experience}}
                                            yrs
                                        </td>
                                        <td><i class="material-icons" style="font-size: 14px;">location_on</i> {{job.location}}</td>
                                    </tr>
                                    <tr>
                                        <td>&#8377; {{job.salary}} P.A.
                                        </td>
                                        <td>Key Skills: {{job.keySkills}}</td>
                                    </tr>

                                    <div ng-show="job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                        <tr>
                                            <td>Report: {{job.report}}
                                            </td>
                                            <td>Status: {{job.status}}</td>
                                        </tr>
                                    </div>
                                </table>
                                <a ng-click="jobCtrl.applyJob(job.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                <div ng-repeat="jobApplied in job['jobApplied']">
                                    <a ng-show="jobApplied.userId == user.id" ng-click="jobCtrl.delAppliedJob(jobApplied.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                                </div>
                                <a ng-show="job.userId == user.id" ng-click="jobCtrl.deleteJob('Closed', job.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>

                            </div>
                        </div>
                    </div><br/>
                </div>
            </div>


            <div class="center" ng-hide="!pagedItems[currentPage]">
                <ul class="pagination">
                    <li ng-class="{disabled: currentPage == 0}">.
                        <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                    </li>
                    <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                        <a href="javascript:;" ng-bind="n + 1">1</a>
                    </li>
                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                        <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div id="appliedJobs">
        <div class="card-panel row" style="padding:10px;">
            <div class="left">
                <strong class="black-text" style="font-size:24px;">Applied Jobs</strong>
            </div>

            <div class="right">
                <span ng-show="user.role != 'USER'" class="right"><a class="btn light-blue waves-effect waves-light" href = "#!/user/job/createJob">+ Create Job</a></span>
            </div>
        </div>


        <div class="card-panel">
            <div class="row">
                <div class="col m8">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="query_ONE" ng-change="search_ONE()" required="required">
                        <label for="searchKeyword">Search For Job</label>
                    </div>
                </div>

                <div class="col m4">
                    <select ng-model="itemsPerPage_ONE" ng-change="perPage_ONE()" ng-options="('Show '+size+' Per Page') for size in pageSizes_ONE">
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>
            <div ng-show="!pagedItems_ONE[currentPage_ONE]">
                <h4 class="center red-text">You Have Not Applied For Any Job(s) Yet Or No Search Match Available</h4>
            </div>
            <div ng-hide="!pagedItems_ONE[currentPage_ONE]">
                <div class="center">
                    <ul class="pagination">
                        <li ng-class="{disabled: currentPage_ONE == 0}">
                            <a href="javascript:;" ng-click="prevPage_ONE()"><strong>« Prev</strong></a>
                        </li>
                        <li ng-repeat="n in range(pagedItems_ONE.length)" ng-class="{active: n == currentPage_ONE}" ng-click="setPage_ONE()">
                            <a href="javascript:;" ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage_ONE == pagedItems_ONE.length - 1}">
                            <a href="javascript:;" ng-click="nextPage_ONE()"><strong>Next »</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row nomargin" ng-repeat="job in pagedItems_ONE[currentPage_ONE] | orderBy:sortingOrder_ONE:reverse_ONE">
                <div ng-hide="job.status != 'APPROVED' || job.report != 'NO'">
                    <div class="card horizontal">
                        <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                        <div class="card-stacked">
                            <div class="card-content">

                                <div class="row nomargin">
                                    <span class="right">
                                <a class='dropdown-button' href='#' data-activates='myJobOption_{{job.id}}'><i class="material-icons">more_vert</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='myJobOption_{{job.id}}' class='dropdown-content'>
                                            <div ng-hide="job.report == 'YES' || job.status != 'APPROVED'">
                                            <li><a href="#!/user/job/report/{{job.id}}">Report</a></li>
                                            <span ng-show="job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                                <li class="divider"></li>
                                                <li><a href="#!/user/job/editJob/{{job.id}}">Edit</a></li>
                                                <li><a href="" ng-click="jobCtrl.deleteJob('Closed', job.id)">Delete</a></li>
                                            </span>
                                </div>
                                </ul>

                                </span>
                                <p style="font-size: 18px;"><a class="black-text" href="#!/user/job/view/{{job.id}}">{{job.title}}</a></p>
                                <p style="color: grey; font-size: 14px;">{{job.company}}</p>
                            </div>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td>On: <span>{{job.postDate}}</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> {{job.experience}}
                                        yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> {{job.location}}</td>
                                </tr>
                                <tr>
                                    <td>&#8377; {{job.salary}} P.A.
                                    </td>
                                    <td>Key Skills: {{job.keySkills}}</td>
                                </tr>

                                <div ng-show="job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                    <tr>
                                        <td>Report: {{job.report}}
                                        </td>
                                        <td>Status: {{job.status}}</td>
                                    </tr>
                                </div>
                            </table>
                            <a ng-click="jobCtrl.applyJob(job.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                            <div ng-repeat="jobApplied in job['jobApplied']">
                                <a ng-show="jobApplied.userId == user.id" ng-click="jobCtrl.delAppliedJob(jobApplied.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                            </div>
                            <a ng-show="job.userId == user.id" ng-click="jobCtrl.deleteJob('Closed', job.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>

                        </div>
                    </div>
                </div><br/>
            </div>
        </div>


        <div class="center" ng-hide="!pagedItems_ONE[currentPage_ONE]">
            <ul class="pagination">
                <li ng-class="{disabled: currentPage_ONE == 0}">.
                    <a href="javascript:;" ng-click="prevPage_ONE()"><strong>« Prev</strong></a>
                </li>
                <li ng-repeat="n in range(pagedItems_ONE.length)" ng-class="{active: n == currentPage_ONE}" ng-click="setPage_ONE()">
                    <a href="javascript:;" ng-bind="n + 1">1</a>
                </li>
                <li ng-class="{disabled: currentPage_ONE == pagedItems_ONE.length - 1}">
                    <a href="javascript:;" ng-click="nextPage_ONE()"><strong>Next »</strong></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="createdJobs">
    <div class="card-panel row" style="padding:10px;">
        <div class="left">
            <strong class="black-text" style="font-size:24px;">Created Jobs</strong>
        </div>

        <div class="right">
            <span ng-show="user.role != 'USER'" class="right"><a class="btn light-blue waves-effect waves-light" href = "#!/user/job/createJob">+ Create Job</a></span>
        </div>
    </div>


    <div class="card-panel">
        <div class="row">
            <div class="col m8">
                <div class="input-field nomargin">
                    <input type="text" style="margin-bottom:0px;" ng-model="query_TWO" ng-change="search_TWO()" required="required">
                    <label for="searchKeyword">Search For Job</label>
                </div>
            </div>

            <div class="col m4">
                <select ng-model="itemsPerPage_TWO" ng-change="perPage_TWO()" ng-options="('Show '+size+' Per Page') for size in pageSizes_TWO">
                    </select>
                <label>Materialize Select</label>
            </div>
        </div>
        <div ng-show="!pagedItems_TWO[currentPage_TWO]">
            <h4 class="center red-text">You Haven't Created Any Job(s) Yet Or No Search Match Available</h4>
        </div>
        <div ng-hide="!pagedItems_TWO[currentPage_TWO]">
            <div class="center">
                <ul class="pagination">
                    <li ng-class="{disabled: currentPage_TWO == 0}">
                        <a href="javascript:;" ng-click="prevPage_TWO()"><strong>« Prev</strong></a>
                    </li>
                    <li ng-repeat="n in range(pagedItems_TWO.length)" ng-class="{active: n == currentPage_TWO}" ng-click="setPage_TWO()">
                        <a href="javascript:;" ng-bind="n + 1">1</a>
                    </li>
                    <li ng-class="{disabled: currentPage_TWO == pagedItems_TWO.length - 1}">
                        <a href="javascript:;" ng-click="nextPage_TWO()"><strong>Next »</strong></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row nomargin" ng-repeat="job in pagedItems_TWO[currentPage_TWO] | orderBy:sortingOrder_TWO:reverse_TWO">
            <div ng-hide="job.status != 'APPROVED' || job.report != 'NO'">
                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">

                            <div class="row nomargin">
                                <span class="right">
                                <a class='dropdown-button' href='#' data-activates='myJobOption_{{job.id}}'><i class="material-icons">more_vert</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='myJobOption_{{job.id}}' class='dropdown-content'>
                                            <div ng-hide="job.report == 'YES' || job.status != 'APPROVED'">
                                            <li><a href="#!/user/job/report/{{job.id}}">Report</a></li>
                                            <span ng-show="job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                                <li class="divider"></li>
                                                <li><a href="#!/user/job/editJob/{{job.id}}">Edit</a></li>
                                                <li><a href="" ng-click="jobCtrl.deleteJob('Closed', job.id)">Delete</a></li>
                                            </span>
                            </div>
                            </ul>

                            </span>
                            <p style="font-size: 18px;"><a class="black-text" href="#!/user/job/view/{{job.id}}">{{job.title}}</a></p>
                            <p style="color: grey; font-size: 14px;">{{job.company}}</p>
                        </div>
                        <table class="bordered" style="font-size: 12px; color:grey;">
                            <tr>
                                <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                <td>On: <span>{{job.postDate}}</span></td>
                            </tr>
                            <tr>
                                <td><i class="material-icons" style="font-size: 13px;">business_center</i> {{job.experience}}
                                    yrs
                                </td>
                                <td><i class="material-icons" style="font-size: 14px;">location_on</i> {{job.location}}</td>
                            </tr>
                            <tr>
                                <td>&#8377; {{job.salary}} P.A.
                                </td>
                                <td>Key Skills: {{job.keySkills}}</td>
                            </tr>

                            <div ng-show="job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                <tr>
                                    <td>Report: {{job.report}}
                                    </td>
                                    <td>Status: {{job.status}}</td>
                                </tr>
                            </div>
                        </table>
                        <a ng-click="jobCtrl.applyJob(job.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        <div ng-repeat="jobApplied in job['jobApplied']">
                            <a ng-show="jobApplied.userId == user.id" ng-click="jobCtrl.delAppliedJob(jobApplied.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                        </div>
                        <a ng-show="job.userId == user.id" ng-click="jobCtrl.deleteJob('Closed', job.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>

                    </div>
                </div>
            </div><br/>
        </div>
    </div>


    <div class="center" ng-hide="!pagedItems_TWO[currentPage_TWO]">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage_TWO == 0}">.
                <a href="javascript:;" ng-click="prevPage_TWO()"><strong>« Prev</strong></a>
            </li>
            <li ng-repeat="n in range(pagedItems_TWO.length)" ng-class="{active: n == currentPage_TWO}" ng-click="setPage_TWO()">
                <a href="javascript:;" ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage_TWO == pagedItems_TWO.length - 1}">
                <a href="javascript:;" ng-click="nextPage_TWO()"><strong>Next »</strong></a>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
</div>