<div class="row" ng-init="jobCtrl.getJob();">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12 row">

                        <a href="#!/user/home" class="breadcrumb">Home</a>

                        <a href="#!/user/jobs" class="breadcrumb">Jobs</a>

                        <a href="#!/user/job/view/{{jobCtrl.job.id}}" class="breadcrumb">{{jobCtrl.job.title}}</a>

                        <a class="breadcrumb">Report</a>

                    </div>
                </div>
            </nav>
        </div>

        <div class="preloader" ng-show="loading">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="reportJobForm">
            <div class="card-panel">
                <h5><strong class="grey-text">Report Job</strong></h5>
                <hr/>
                <div class="row">
                    <div class="col m6 offset-m3">
                        <form name="reportForm" ng-submit="jobCtrl.jobReport()" novalidate>

                            <!--details field starts here-->
                            <div class="input-field nomargin">
                                <textarea id="details" class="materialize-textarea" style="margin-bottom: 0px;" ng-pattern="/^[a-zA-Z\s\-\'\,\_\;]+$/" ng-minlength="20"
                                    maxlength="1000" ng-maxlength="1000" placeholder="Provide Details of Your Report" data-length="1000"
                                    ng-model="jobCtrl.reportJob.details" placeholder="Provide Details Of Your Report" required="required"></textarea>
                                <div class="invalid-data center-align" ng-show="reportForm.details.$dirty">
                                    <span ng-show="reportForm.details.$dirty && reportForm.details.$error.required">Please, Provide details</span>
                                    <span ng-show="reportForm.details.$error.minlength">This field must contain atleast 2 charachters</span>
                                    <span ng-show="reportForm.details.$error.maxlength">This field can contain maximum 50 charachters</span>
                                    <span ng-show="reportForm.details.$error.pattern">This field can contain '-,_;' these special charachters</span>
                                </div>

                            </div>
                            <!--details field ends here-->

                            <div class="input-field">
                                <div class="hoverable">
                                    <input type="submit" class="btn light-blue waves-effect waves-light full-width" ng-disabled="reportForm.$invalid" value="Report Job">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>