<div class="row" ng-init="blogCtrl.getBlog();" ng-cloak>
    <div class="col m10 offset-l1 l10 s12">

        <div class="preloader" ng-show="loading">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!/user/home" class="breadcrumb">Home</a>

                        <a href="#!/user/blogs" class="breadcrumb">Blogs</a>

                        <a href="#!/user/blog/view/{{blogCtrl.blog.blogId}}" class="breadcrumb">{{blogCtrl.blog.title}}</a>

                    </div>
                </div>
            </nav>
        </div>



        <div class="row">
            <div class="card">
                <div class="card-image">
                    <img src="../assets/images/blogs/{{blogCtrl.blog.imageUrl}}" height="300px;">
                    <span class="card-title"><strong>{{blogCtrl.blog.title}}</strong></span>
                </div>
                <div class="card-panel">
                    Posted By - <a href="#!/user/profile/{{blogCtrl.blog.userId}}"> {{blogCtrl.blog.userName}} </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="material-icons" style="font-size: 14px;">query_builder</i> {{blogCtrl.blog.postDate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="material-icons" style="font-size: 14px;">chat_bubble_outline</i> {{blogCtrl.blog.noOfComments}}
                    Comments&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="material-icons" style="font-size: 16px;">thumb_up</i>{{blogCtrl.blog.noOfLikes}}

                    <span ng-hide="blogCtrl.blog.status != 'APPROVED' || blogCtrl.blog.report == 'YES'">
                    <a href="" ng-show="blogCtrl.blog.likes.length == 0" ng-click="blogCtrl.blogLike();">Like</a>

                    <span ng-repeat="like in blogCtrl.blog.likes">
                        <a  ng-show="like.userId == user.id" href = "" ng-click="blogCtrl.disLikeBlog(like.id);">Dislike</a>
                    </span>
                    </span>
                    <span ng-if="blogCtrl.blog.report == 'YES'">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="red-text"> <strong>This Blog Is Reported</strong></span>
                    </span>
                    <span ng-if="blogCtrl.blog.status == 'PENDING'">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="red-text"> <strong>This Blog Is In Pending State, It Will Be Visible After Admin Approval</strong></span>
                    </span>
                    <span ng-show="blogCtrl.blog.status == 'DISABLED'">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="red-text"> <strong>This Blog Is Disabled</strong></span>
                    </span>
                    <span ng-hide="blogCtrl.blog.status != 'APPROVED' || blogCtrl.blog.report != 'NO'">
                    <span class="right">
                                <!-- Dropdown Trigger -->
                     <a class='dropdown-button' href='#' data-activates='{{blogCtrl.blog.blogId}}'><i class="material-icons">more_vert</i></a>
                                <!-- Dropdown Structure -->
                        <ul id='{{blogCtrl.blog.blogId}}' class='dropdown-content'>
                            <li><a href = "#!/user/blog/report/{{blogCtrl.blog.blogId}}">Report</a></li>
                            
                            <span ng-if="blogCtrl.blog.userId == user.id">
                            <li class="divider"></li>
                            <li><a href="#!/user/blog/edit/{{blogCtrl.blog.blogId}}">Edit</a></li>
                            <li><a href="" ng-click="blogCtrl.deleteBlog('Disabled', blogCtrl.blog.blogId)">Delete</a></li>
                            </span>
                    </ul>
                    </span>
                    </span>

                </div>
                <div class="card-panel" style="word-spacing: 0.1em; line-height: 2em; font-size:15px;">
                    {{blogCtrl.blog.description}}
                </div>
            </div>
            <div class="card-panel">
                <div ng-if="blogCtrl.blog.report == 'YES'">
                    <h5 class="red-text center"> <strong>This Blog Is Reported</strong></h5>
                </div>
                <div ng-if="blogCtrl.blog.status == 'PENDING'">
                    <h5 class="red-text center"> <strong>This Blog Is In Pending State, It Will Be Visible After Admin Approval</strong></h5>
                </div>
                <div ng-show="blogCtrl.blog.status == 'DISABLED'">
                    <h5 class="red-text center"> <strong>This Blog Is Disabled</strong></h5>
                </div>
                <div ng-if="blogCtrl.blog.report != 'YES'" ng-hide="blogCtrl.blog.status != 'APPROVED'">
                    <strong style="font-size: 20px;">Leave a Comment</strong>

                    <div class="card-panel row">
                        <form class="col s12" name="commentForm" ng-submit="blogCtrl.createEditBlogComment()" novalidate>
                            <div class="row nomargin">
                                <div class="input-field col s12">
                                    <textarea id="comment" ng-model="blogCtrl.createBlogComment.blogComment" class="materialize-textarea nopadding nomargin"
                                        maxlength="500" data-length="500" placeholder="Post Your Comment" style="margin-bottom:0px;"></textarea>
                                </div>
                            </div>
                            <input type="submit" class="btn waves-effect waves-light" value="Post">
                        </form>
                    </div>
                    <div ng-show="!pagedItems[currentPage].length">
                        <center>
                            <h5 class="center red-text">There Are No Comment(s)</h5>
                        </center>
                    </div>
                    <div ng-hide="!pagedItems[currentPage].length">
                        <div class="row">
                            <div class="col offset-m5">
                                <ul class="pagination">
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                                    </li>
                                    <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                        <a href="javascript:;" ng-bind="n + 1">1</a>
                                    </li>
                                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                        <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                                    </li>
                                </ul>
                            </div>

                            <!--<div class="col m4 offset-m1">
                                <select ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show '+size+' Per Page') for size in pageSizes">
                                </select>
                                <label>Materialize Select</label>
                            </div>-->
                        </div>
                        <div class="row nomargin nopadding" ng-repeat="blogComment in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                            <div class="card-panel nomargin">
                                <div class="row nopadding nomargin" ng-hide="blogComment.report == 'YES' && user.role == 'USER' || user.role == 'EMPLOYER' ">
                                    <div class=" col m0">
                                        <img src="../assets/images/users/{{blogCtrl.blog.imageUrl}}" width="25" height="25">
                                    </div>
                                    <a href="#!/user/profile/{{blogComment.userId}}">{{blogComment.userName}}</a> <span ng-show="blogComment.report =='NO'">{{blogComment.blogComment}}</span>
                                    <span ng-show="blogComment.report =='YES' && user.role !='USER' && user.role !='EMPLOYER'" class="red-text">{{blogComment.blogComment}}</span>
                                    <span class="right">
                                    <span ng-show="blogComment.report =='YES'"><i class="material-icons"><a href = "#!/admin/report/blogcomments" class="red-text">report_problem</a></i></span>
                                    </span>
                                    <span class="right">
                                            
                                <!-- Dropdown Trigger -->
                                <a class='dropdown-button' href="#" data-activates='{{blogComment.id}}_OP' ng-hide="blogComment.report == 'YES'"><i class="material-icons">more_vert</i></a>
                                <!-- Dropdown Structure -->
                                <ul id='{{blogComment.id}}_OP' class='dropdown-content'>
                                    <li><a href = "#!/user/blog/comment/report/{{blogComment.id}}">Report</a></li>
                                    <span ng-if="blogComment.userId == user.id">
                                    <li class="divider"></li>
                                    <li><a href="#!/user/blog/comment/edit/{{blogComment.id}}">Edit</a></li>
                                    <li><a href="" ng-click="blogCtrl.deleteComment(blogComment.id)">Delete</a></li>
                                    </span>
                                    </ul>
                                    </span><br/>
                                    <span class="grey-text" style="font-size: 12px;">{{blogComment.commentDate}}</span>
                                </div>

                                <div ng-show="blogComment.report == 'YES' && user.role == 'USER' || user.role == 'EMPLOYER' ">
                                    <h6 class="center red-text">This Comment Is Reported</h6>
                                </div>
                            </div><br/>
                        </div>
                        <div class="row">
                            <div class="col offset-m5">
                                <ul class="pagination">
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                                    </li>
                                    <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                        <a href="javascript:;" ng-bind="n + 1">1</a>
                                    </li>
                                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                        <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>