<div class="row" ng-init="blogCtrl.fetchAllBlogs();" ng-cloak>
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!/user/home" class="breadcrumb">Home</a>

                        <a href="#!/user/blogs" class="breadcrumb">Blogs</a>
                    </div>
                </div>
            </nav>
        </div>


        <div class="preloader" ng-show="loading">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-panel nopadding">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab col s3"><a class="active" href="#blogs">Blogs</a></li>
                        <li class="tab col s3"><a href="#myBlogs">My Blogs</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="blogs">

            <div class="card-panel row" style="padding:10px;">
                <div class="left">
                    <strong class="black-text" style="font-size:24px;">Blogs</strong>
                </div>

                <div class="right">
                    <span class="right"><a href = "#!/user/blog/createBlog" class="btn light-blue waves-effect waves-light">+ Create Blogs</a></span>
                </div>
            </div>

            <div class="card-panel">
                <div class="row nomargin">
                    <div class="col m8">
                        <div class="input-field nomargin">
                            <input type="text" style="margin-bottom:0px;" ng-model="query" ng-change="search()" required="required">
                            <label for="searchKeyword">Search For Blog</label>
                        </div>
                    </div>

                    <div class="col m4">
                        <select ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show '+size+' Per Page') for size in pageSizes">
                    </select>
                        <label>Materialize Select</label>
                    </div>
                </div>

                <div ng-show="!pagedItems[currentPage]">
                    <h5 class="center red-text">No Blog(s) Available OR No Search Match Available</h5>
                </div>
                <div ng-hide="!pagedItems[currentPage]">

                    <div class="row nomargin">
                        <div class="col offset-m5">
                            <ul class="pagination">
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                    <a href="javascript:;" ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row nomargin" ng-repeat="blog in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                        <div class="card horizontal" ng-hide="blog.status != 'APPROVED' || blog.report != 'NO'">
                            <div class="card-image">
                                <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="row nomargin">
                                        <div class="col m10">
                                            <p style="font-size: 18px;"><a href="#!/user/blog/view/{{blog.blogId}}" class="black-text">{{blog.title}}</a></p>
                                        </div>

                                        <span ng-hide="blog.status != 'APPROVED' || blog.report != 'NO'">
                                <span class="right">
                                            <!-- Dropdown Trigger -->
                                <a class='dropdown-button' href='#' data-activates='OP_{{blog.blogId}}'><i class="material-icons">more_vert</i></a>
                                            <!-- Dropdown Structure -->
                                    <ul id='OP_{{blog.blogId}}' class='dropdown-content'>
                                        <li><a href = "#!/user/blog/report/{{blog.blogId}}">Report</a></li>
                                        
                                        <span ng-if="blog.userId == user.id">
                                        <li class="divider"></li>
                                        <li><a href="#!/user/blog/edit/{{blog.blogId}}">Edit</a></li>
                                        <li><a href="" ng-click="blogCtrl.deleteBlog('Disabled', blog.blogId)">Delete</a></li>
                                        </span>
                                        </ul>
                                        </span>
                                        </span>
                                    </div>
                                    <table class="bordered" style="font-size: 12px; color:grey;">
                                        <tr>
                                            <td>By <a href="">{{blog.userName}}</a></td>
                                            <td>On: <span>{{blog.postDate}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments:
                                                {{blog.noOfComments}}
                                            </td>
                                            <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: {{blog.noOfLikes}}</td>
                                        </tr>
                                        <span ng-hide="blog.userId == user.id">
                                        <tr>
                                            <td>Status: {{blog.status}}
                                            </td>
                                            <td>Report: {{blog.report}}</td>
                                        </tr>
                                    </span>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row nomargin">
                        <div class="col offset-m5">
                            <ul class="pagination">
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                    <a href="javascript:;" ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="myBlogs">

            <div class="card-panel row" style="padding:10px;">
                <div class="left">
                    <strong class="black-text" style="font-size:24px;">My Blogs</strong>
                </div>

                <div class="right">
                    <span class="right"><a href = "#!/user/blog/createBlog" class="btn light-blue waves-effect waves-light">+ Create Blogs</a></span>
                </div>
            </div>
            <div class="card-panel">
                <div class="row">
                    <div class="col m8">
                        <div class="input-field nomargin">
                            <input type="text" style="margin-bottom:0px;" ng-model="query_ONE" ng-change="search_ONE()" required="required">
                            <label for="searchKeyword">Search For Blog</label>
                        </div>
                    </div>

                    <div class="col m4">
                        <select ng-model="itemsPerPage_ONE" ng-change="perPage_ONE()" ng-options="('Show '+size+' Per Page') for size in pageSizes_ONE">
                    </select>
                        <label>Materialize Select</label>
                    </div>
                </div>

                <div ng-show="!pagedItems_ONE[currentPage_ONE]">
                    <h5 class="center red-text">You Have Not Created Any Blog(s) Yet OR No Search Match Available</h5>
                </div>
                <div ng-hide="!pagedItems_ONE[currentPage_ONE]">
                    <div class="center">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage_ONE == 0}">
                                <a href="javascript:;" ng-click="prevPage_ONE()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems_ONE.length)" ng-class="{active: n == currentPage_ONE}" ng-click="setPage_ONE()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage_ONE == pagedItems_ONE.length - 1}">
                                <a href="javascript:;" ng-click="nextPage_ONE()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row nomargin" ng-repeat="myBlog in pagedItems_ONE[currentPage_ONE] | orderBy:sortingOrder_ONE:reverse_ONE">
                    <div ng-show="myBlog.userId == user.id">
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="row nomargin">
                                        <div class="col m10">
                                            <p style="font-size: 18px;"><a href="#!/user/blog/view/{{myBlog.blogId}}" class="black-text">{{myBlog.title}}</a></p>
                                        </div>

                                        <span ng-hide="myBlog.status != 'APPROVED' || myBlog.report != 'NO'">
                                <span class="right">
                                            <!-- Dropdown Trigger -->
                                <a class='dropdown-button' href='#' data-activates='MOP_{{myBlog.blogId}}'><i class="material-icons">more_vert</i></a>
                                            <!-- Dropdown Structure -->
                                    <ul id='MOP_{{myBlog.blogId}}' class='dropdown-content'>
                                        <li><a href = "#!/user/blog/report/{{myBlog.blogId}}">Report</a></li>
                                        
                                        <span ng-if="myBlog.userId == user.id">
                                        <li class="divider"></li>
                                        <li><a href="#!/user/blog/edit/{{myBlog.blogId}}">Edit</a></li>
                                        <li><a href="" ng-click="blogCtrl.deleteBlog('Disabled', myBlog.blogId)">Delete</a></li>
                                        </span>
                                        </ul>
                                        </span>
                                        </span>
                                    </div>
                                    <table class="bordered" style="font-size: 12px; color:grey;">
                                        <tr>
                                            <td>By <a href="">{{myBlog.userName}}</a></td>
                                            <td>On: <span>{{myBlog.postDate}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments:
                                                {{myBlog.noOfComments}}
                                            </td>
                                            <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: {{myBlog.noOfLikes}}</td>
                                        </tr>
                                        <span ng-hide="myBlog.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                        <tr>
                                            <td>Status: {{myBlog.status}}
                                            </td>
                                            <td>Report: {{myBlog.report}}</td>
                                        </tr>
                                    </span>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row nomargin" ng-hide="!pagedItems_ONE[currentPage_ONE]">
                    <div class="col offset-m5">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>