<div class="row" ng-init="blogCtrl.getBlog();">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!" class="breadcrumb">Home</a>

                        <a href="#!" class="breadcrumb">Blog</a>

                        <a href="#!" class="breadcrumb">Blog Name</a>

                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg" height="300px;">
                    <span class="card-title"><strong>{{blogCtrl.blog.title}} - By {{user.firstName}} {{user.lastName}}</strong></span>
                </div>
                <div class="card-panel">
                    <i class="material-icons" style="font-size: 14px;">query_builder</i> {{blogCtrl.blog.postDate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="material-icons" style="font-size: 14px;">chat_bubble_outline</i> {{blogCtrl.blog.noOfComments}}
                    <a href="">Comments</a>
                </div>
                <div class="card-panel" style="word-spacing: 0.1em; line-height: 2em; font-size:15px;">
                    {{blogCtrl.blog.description}}
                </div>
            </div>
            <div class="card-panel">
                <strong style="font-size: 20px;">Leave a Comment</strong>

                <div class="card-panel row">
                    <form class="col s12">
                        <div class="row nomargin">
                            <div class="input-field col s12">
                                <textarea id="comment" class="materialize-textarea nopadding nomargin" maxlength="120" data-length="120" placeholder="Post Your Comment"
                                    style="margin-bottom:0px;"></textarea>
                            </div>
                        </div>
                        <input type="submit" class="btn waves-effect waves-light" value="Post">
                    </form>
                </div>
                <div class="row nomargin nopadding" ng-repeat="blogComment in pagedItems[currentPage] | orderBy:sortingOrder:reverse">

                    <div class="row nomargin nopadding">
                        <div class="col offset-m5">
                            <ul class="pagination">
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                    <a href="javascript:;" ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-panel nomargin">
                        <div class="row nopadding nomargin">
                            <div class=" col m0">
                                <img src="http://lorempixel.com/800/400/nature/4" width="25" height="25">
                            </div>
                            <a href="">{{user.firstName}} {{user.lastName}}</a> {{blogComment.blogComment}}
                            <span class="right">
                                <!-- Dropdown Trigger -->
                                <a class='dropdown-button' href='#' data-activates='op'><i class="material-icons">more_vert</i></a>

                                <!-- Dropdown Structure -->
                                <ul id='op' class='dropdown-content'>
                                    <li><a href="#!">Report</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#!">Edit</a></li>
                                    <li><a href="#!">Delete</a></li>
                                </ul>
                                </span><br/>
                            <span class="grey-text" style="font-size: 12px;">{{blogComment.commentDate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col offset-m5">
                        <ul class="pagination">
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                <a href="javascript:;" ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>