<div class="row" ng-init="blogCtrl.getComment();">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!/user/home" class="breadcrumb">Home</a>

                        <a href="#!/user/blogs" class="breadcrumb">Blogs</a>

                        <a class="breadcrumb">Comments</a>

                        <a href="#!" class="breadcrumb">Report</a>

                    </div>
                </div>
            </nav>
        </div>
        <div class="card-panel">
            <h5>Report Blog Comment</h5>
            <hr/>
            <div class="row">
                <div class="col m6 offset-m3">
                     <form name="reportCommentForm" ng-submit="blogCtrl.blogReportComment()" novalidate>

                        <!--details field starts here-->
                        <div class="input-field nomargin">
                            <textarea id="details" class="materialize-textarea" style="margin-bottom: 0px;" ng-pattern="/^[a-zA-Z0-9\s\-\'\,\_\;]+$/" ng-minlength="20"
                                maxlength="1000" ng-maxlength="1000" placeholder="Provide Details of Your Report" data-length="1000"
                                ng-model="blogCtrl.reportBlogComment.details" placeholder="Provide Details Of Your Report" required="required"></textarea>
                            <div class="invalid-data center-align" ng-show="reportCommentForm.details.$dirty">
                                <span ng-show="reportCommentForm.details.$dirty && reportCommentForm.details.$error.required">Please, Provide details</span>
                                <span ng-show="reportCommentForm.details.$error.minlength">This field must contain atleast 2 charachters</span>
                                <span ng-show="reportCommentForm.details.$error.maxlength">This field can contain maximum 50 charachters</span>
                                <span ng-show="reportCommentForm.details.$error.pattern">This field can contain '-,_;' these special charachters</span>
                            </div>

                        </div>
                        <!--details field ends here-->

                        <div class="input-field">
                            <div class="hoverable">
                                <input type="submit" class="btn light-blue waves-effect waves-light modal-close full-width" ng-disabled="reportCommentForm.$invalid"
                                    value="Report Blog">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>