<div class="col m10 offset-l1 l10 s12" ng-init="homePageCtrl.fetchContent()">
    <!--Search Field Starts From Here-->

    <div class="row">
        <div class="input-field col m3">
            <select name="searchOption" id="searchOption"> 
                <option value="" disabled selected>Select option</option>
                <option value="1">Forums</option>
                <option value="2">Blogs</option>
                <option value="3">Jobs</option>
            </select>
        </div>
        <div class="input-field col m6">
            <input id="searchKeyword" type="text" placeholder="Search for Forums, Blogs, Jobs">
        </div>
    </div>

    <!--Search Field Ends Here-->
    <div class="row col l10">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a href="#topics">Latest Topics</a></li>
                <li class="tab col s3"><a href="#blogs">Latest Blogs</a></li>
                <li class="tab col s3"><a href="#jobs">Latest Jobs</a></li>
                <li class="tab col s3"><a href="#events">Latest Events</a></li>
            </ul>
        </div>

        <div id="topics" class="col s12">
            <div class="row" ng-repeat="topic in homePageCtrl.content.latestTopics">
                <div class="card-panel">
                    <h4 class="header">Latest Topics</h4>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p style="font-size: 18px;">{{topic.title}} </p>
                                <table class="bordered" style="font-size: 12px; color:grey;">
                                    <tr>
                                        <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                        <td>On <span>{{topic.createdDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments:
                                            1
                                        </td>
                                        <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 12px;">group</i>Group: {{topic.forum.forumName}}
                                        </td>
                                        <td><i class="material-icons" style="font-size: 12px;">person</i>Admin: <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    </tr>
                                </table>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">reply</i></a>
                            </div>
                        </div>
                    </div><br>
                    <div class="right-align"><a href="">View All Topics <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
                </div>
            </div>
        </div>


        <!--Blogs Section Starts From Here-->
        <div id="blogs" class="col s12">
            <div class="row">
                <div class="card-panel">
                    <h4 class="header">Latest Blogs</h4>
                    <div ng-show="!homePageCtrl.content.latestBlogs">
                        No Latest Blogs Available
                    </div>
                    <div ng-hide="!homePageCtrl.content.latestBlogs">

                        <div ng-repeat="blog in homePageCtrl.content.latestBlogs">
                            <div class="card horizontal" ng-hide="blog.status != 'APPROVED' || blog.report != 'NO' ">

                                <div class="card-image">
                                    <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <div class="row nomargin">
                                            <div class="col m10">
                                                <p style="font-size: 18px;"><a href="#!/user/blog/view/{{blog.blogId}}" class="black-text">{{blog.title}}</a></p>
                                            </div>

                                            <span ng-hide="blog.status != 'APPROVED' || blog.report != 'NO'">
                                <span class="right">
                                            <!-- Dropdown Trigger -->
                                <a class='dropdown-button' href='#' data-activates='OP_{{blog.blogId}}_Select'><i class="material-icons">more_vert</i></a>
                                            <!-- Dropdown Structure -->
                                    <ul id='OP_{{blog.blogId}}_Select' class='dropdown-content'>
                                        <li><a data-target="reportBlogForm">Report</a></li>
                                        
                                        <span ng-if="blog.userId == user.id">
                                        <li class="divider"></li>
                                        <li><a href="#!/user/blog/edit/{{blog.blogId}}">Edit</a></li>
                                    <li><a href="" ng-click="homePageCtrl.deleteBlog('Disabled', blog.blogId)">Delete</a></li>
                                        </span>
                                            </ul>
                                            </span>
                                            </span>
                                        </div>
                                        <table class="bordered" style="font-size: 12px; color:grey;">
                                            <tr>
                                                <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                                <td>On: <span>{{blog.postDate}}</span></td>
                                            </tr>
                                            <tr>
                                                <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments:
                                                    {{blog.noOfComments}}
                                                </td>
                                                <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: {{blog.noOfLikes}}</td>
                                            </tr>
                                            <span ng-hide="blog.userId == user.id">
                                        <tr>
                                            <td>Status: {{blog.status}}
                                            </td>
                                            <td>Report: {{blog.report}}</td>
                                        </tr>
                                    </span>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-align"><a href="#!/user/blogs">View All Blogs <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
                </div>
            </div>
        </div>

        <!--Blogs Section Ends Here-->

        <!--Jobs Section Starts Here-->
        <div id="jobs" class="col s12">
            <div class="row">
                <div class="card-panel">
                    <h4 class="header">Latest Jobs</h4>

                    <div ng-show="!homePageCtrl.content.latestJobs">
                        No Latest Jobs Available
                    </div>
                    <div ng-hide="!homePageCtrl.content.latestJobs">

                        <div class="row nomargin" ng-repeat="job in homePageCtrl.content.latestJobs">
                            <div class="card horizontal" ng-hide="job.status != 'APPROVED' || job.report != 'NO'">
                                <!--<div class="card-image">
                                    <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                                </div>-->
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <div class="row nomargin">
                                            <span class="right">
                                            <a class='dropdown-button' href='#' data-activates='jobOption_{{job.id}}'><i class="material-icons">more_vert</i></a>

                                            <!-- Dropdown Structure -->
                                        <ul id='jobOption_{{job.id}}' class='dropdown-content'>
                                              <div ng-show="job.status != 'APPROVED' && user.role != 'USER' && user.role != 'EMPLOYER'">
                                                <li><a href="" ng-click="approveJob(job.id, 'Approved')">Approve Job</a></li>  
                                                <li><a href="" ng-click="deleteJob('Closed', job.id)">Delete</a></li>
                                              </div>
                                            <div ng-show="job.report == 'YES' && user.role != 'USER' && user.role != 'EMPLOYER'">
                                                <li><a href="#!/user/job/report/{{job.id}}">Handle Report</a></li>  
                                                <li><a href="" ng-click="deleteJob('Closed', job.id)">Delete</a></li>
                                            </div>
                                            <div ng-hide="job.report == 'YES' || job.status != 'APPROVED'">
                                            <li><a href="#!/user/job/report/{{job.id}}">Report</a></li>
                                            <span ng-show="job.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                                <li class="divider"></li>
                                                <li><a href="#!/user/job/editJob/{{job.id}}">Edit</a></li>
                                                <li><a href="" ng-click="deleteJob('Closed', job.id)">Delete</a></li>
                                            </span>
                                        </div>
                                        </ul>

                                        </span>
                                        <p style="font-size: 18px;"><a class="black-text" href="#!/user/job/view/{{job.id}}">{{job.title}}</a></p>
                                        <p style="color: grey; font-size: 14px;">{{job.company}}</p>
                                    </div>
                                    <table class="bordered" style="font-size: 12px; color:grey;">
                                        <tr>
                                            <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                            <td> <span>On: {{job.postDate}}</span></td>
                                        </tr>
                                        <tr>
                                            <td><i class="material-icons" style="font-size: 13px;">business_center</i> {{job.experience}}
                                                yrs
                                            </td>
                                            <td><i class="material-icons" style="font-size: 14px;">location_on</i> {{job.location}}</td>
                                        </tr>
                                        <tr>
                                            <td>&#8377; {{job.salary}} P.A.
                                            </td>
                                            <td>Key Skills: {{job.keySkills}}</td>
                                        </tr>
                                    </table>
                                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                </div>
                            </div>
                        </div><br>
                    </div>
                </div>
                <div class="right-align"><a href="#!/user/jobs">View All Jobs <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
            </div>
        </div>
    </div>

    <!--Events Section Ends Here-->
    <div id="events" class="col s12">
        <div class="row" ng-repeat="event in homePageCtrl.content.latestEvents">
            <div class="card-panel">
                <h4 class="header">Latest Events</h4>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">{{event.eventTitle}}</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: {{event.postDate}}</span></td>
                                </tr>
                                <tr>
                                    <td>Joined: {{event.noOfApplied}}
                                    </td>
                                    <td>Status: {{event.eventStatus}}</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">done</i></a>
                        </div>
                    </div>
                </div><br>
                <div class="right-align"><a href="#!/user/events">View All Events <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
            </div>
        </div>
    </div>
</div>
</div>