<div class="col m10 offset-l1 l10 s12" ng-init="homePageCtrl.fetchContent()">
    <!--Search Field Starts From Here-->

    <div class="row">
        <div class="input-field col m3">
            <select name="searchOption" id="searchOption"> 
                <option value="" disabled selected>Select option</option>
                <option value="1">Forums</option>
                <option value="2">Blogs</option>
                <option value="3">Jobs</option>
            </select>
        </div>
        <div class="input-field col m6">
            <input id="searchKeyword" type="text" placeholder="Search for Forums, Blogs, Jobs">
        </div>
    </div>

    <!--Search Field Ends Here-->
    <div class="row col l10">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a href="#topics">Latest Topics</a></li>
                <li class="tab col s3"><a href="#blogs">Latest Blogs</a></li>
                <li class="tab col s3"><a href="#jobs">Latest Jobs</a></li>
                <li class="tab col s3"><a href="#events">Latest Events</a></li>
            </ul>
        </div>

        <div id="topics" class="col s12">
            <div class="row" ng-repeat="topic in homePageCtrl.content.latestTopics">
                <div class="card-panel">
                    <h4 class="header">Latest Topics</h4>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p style="font-size: 18px;">{{topic.title}} </p>
                                <table class="bordered" style="font-size: 12px; color:grey;">
                                    <tr>
                                        <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                        <td>On <span>{{topic.createdDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments:
                                            1
                                        </td>
                                        <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 12px;">group</i>Group: {{topic.forum.forumName}}
                                        </td>
                                        <td><i class="material-icons" style="font-size: 12px;">person</i>Admin: <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    </tr>
                                </table>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">reply</i></a>
                            </div>
                        </div>
                    </div><br>
                    <div class="right-align"><a href="">View All Topics <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
                </div>
            </div>
        </div>


        <!--Blogs Section Starts From Here-->
        <div id="blogs" class="col s12">
            <div class="row" ng-repeat="blog in homePageCtrl.content.latestBlogs">
                <div class="card-panel">
                    <h4 class="header">Latest Blogs</h4>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p style="font-size: 18px;"><a href="" class="black-text">{{blog.title}}</a></p>
                                <table class="bordered" style="font-size: 12px; color:grey;">
                                    <tr>
                                        <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                        <td>On: <span>{{blog.postDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments:
                                            {{blog.noOfComments}}
                                        </td>
                                        <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: {{blog.noOfLikes}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="right-align"><a href="#!/user/blogs">View All Blogs <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
                </div>
            </div>
        </div>

        <!--Blogs Section Ends Here-->

        <!--Jobs Section Starts Here-->
        <div id="jobs" class="col s12">
            <div class="row" ng-repeat="job in homePageCtrl.content.latestJobs">
                <div class="card-panel">
                    <h4 class="header">Latest Jobs</h4>
                    <div class="card horizontal">
                        <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                        <div class="card-stacked">
                            <div class="card-content">
                                <p style="font-size: 18px;">{{job.title}}</p>
                                <p style="color: grey; font-size: 14px;">{{job.company}}</p>
                                <table class="bordered" style="font-size: 12px; color:grey;">
                                    <tr>
                                        <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                        <td> <span>On: {{job.postDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td><i class="material-icons" style="font-size: 13px;">business_center</i> {{job.experience}}
                                            yrs
                                        </td>
                                        <td><i class="material-icons" style="font-size: 14px;">location_on</i> {{job.location}}</td>
                                    </tr>
                                    <tr>
                                        <td>&#8377; {{job.salary}} P.A.
                                        </td>
                                        <td>Key Skills: {{job.keySkills}}</td>
                                    </tr>
                                </table>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                    </div><br>
                    <div class="right-align"><a href="">View All Jobs <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
                </div>
            </div>
        </div>


        <!--Events Section Ends Here-->
        <div id="events" class="col s12">
            <div class="row" ng-repeat="event in homePageCtrl.content.latestEvents">
                <div class="card-panel">
                    <h4 class="header">Latest Events</h4>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p style="font-size: 18px;">{{event.eventTitle}}</p>
                                <table class="bordered" style="font-size: 12px; color:grey;">
                                    <tr>
                                        <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                        <td> <span>On: {{event.postDate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Joined: {{event.noOfApplied}}
                                        </td>
                                        <td>Status: {{event.eventStatus}}</td>
                                    </tr>
                                </table>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">done</i></a>
                            </div>
                        </div>
                    </div><br>
                    <div class="right-align"><a href="">View All Events <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>