<div class="col m10 offset-l1 l10 s12">
    <!--Search Field Starts From Here-->

    <div class="row">
        <div class="input-field col m3">
            <select name="searchOption" id="searchOption"> 
                <option value="" disabled selected>Select option</option>
                <option value="1">Forums</option>
                <option value="2">Blogs</option>
                <option value="3">Jobs</option>
            </select>
        </div>
        <div class="input-field col m6">
            <input id="searchKeyword" type="text" placeholder="Search for Forums, Blogs, Jobs">
        </div>
    </div>

    <!--Search Field Ends Here-->
    <div class="row col l10">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a href="#topics">Latest Topics</a></li>
                <li class="tab col s3"><a href="#blogs">Latest Blogs</a></li>
                <li class="tab col s3"><a href="#jobs">Latest Jobs</a></li>
                <li class="tab col s3"><a href="#events">Latest Events</a></li>
            </ul>
        </div>
        
        <div id="topics" class="col s12">

            <div class="card-panel">
                <h4 class="header">Latest Topics</h4>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am a very simple card. </p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                                 <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">group</i>Group: Test
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">person</i>Admin: <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">reply</i></a>
                        </div>
                    </div>
                </div><br>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">reply</i></a>
                        </div>
                    </div>
                </div><br>


                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">reply</i></a>
                        </div>
                    </div>
                </div><br>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">reply</i></a>
                        </div>
                    </div>
                </div><br>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">reply</i></a>
                        </div>
                    </div>
                </div><br>
                <div class="right-align"><a href="">View All Topics <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
            </div>
        </div>


        <!--Blogs Section Starts From Here-->
        <div id="blogs" class="col s12">

            <div class="card-panel">
                <h4 class="header">Latest Blogs</h4>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 12px;">chat_bubble_outline</i>Comments: 1
                                    </td>
                                    <td><i class="material-icons" style="font-size: 12px;">thumb_up</i>Likes: 1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="right-align"><a href="">View All Blogs <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
            </div>
        </div>
        <!--Blogs Section Ends Here-->

        <!--Jobs Section Starts Here-->
        <div id="jobs" class="col s12">

            <div class="card-panel">
                <h4 class="header">Latest Jobs</h4>
                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div><br>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div><br>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div><br>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div><br>

                <div class="card horizontal">
                    <!--<div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>-->
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <p style="color: grey; font-size: 14px;">New Global Technologies</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td><i class="material-icons" style="font-size: 13px;">business_center</i> 0-4 yrs
                                    </td>
                                    <td><i class="material-icons" style="font-size: 14px;">location_on</i> Mumbai</td>
                                </tr>
                                <tr>
                                    <td>&#8377; 3,75,000-7,50,000 P.A.
                                    </td>
                                    <td>Key Skills: Java, Hibernate, Spring</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
                <div class="right-align"><a href="">View All Jobs <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
            </div><br>
        </div>

        <!--Jobs Section Ends Here-->
        <div id="events" class="col s12">

            <div class="card-panel">
                <h4 class="header">Latest Events</h4>
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td>Joined: 1
                                    </td>
                                    <td>Status: Comming Soon</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">done</i></a>
                        </div>
                    </div>
                </div><br>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td>Joined: 1
                                    </td>
                                    <td>Status: Comming Soon</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">done</i></a>
                        </div>
                    </div>
                </div><br>


                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td>Joined: 1
                                    </td>
                                    <td>Status: Comming Soon</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">done</i></a>
                        </div>
                    </div>
                </div><br>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td>Joined: 1
                                    </td>
                                    <td>Status: Comming Soon</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">done</i></a>
                        </div>
                    </div>
                </div><br>

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">I am a very simple card. I am good at containing small bits of information.</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{user.firstName}} {{user.lastName}}</a></td>
                                    <td> <span>On: April 4th, 2017</span></td>
                                </tr>
                                <tr>
                                    <td>Joined: 1
                                    </td>
                                    <td>Status: Comming Soon</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">done</i></a>
                        </div>
                    </div>
                </div><br>
                <div class="right-align"><a href="">View All Events <i class="material-icons" style="font-size: 18px;">trending_flat</i></a></div>
            </div>
        </div>
    </div>