<div class="row" ng-init="eventCtrl.createdEvents()">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">

                        <a href="#!/user/home" class="breadcrumb">Home</a>

                        <span class="right"><button class="btn light-blue waves-effect waves-light" data-target="creationForm">+ Create Event</button></span>

                        <a href="#!/user/events" class="breadcrumb">Events</a>

                        <a href="#!" class="breadcrumb">Created Event</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="card-panel row">
            <div class="left">
                <strong class="black-text" style="font-size:24px;">Created Events</strong>
            </div>

            <div class="right">
                <a href="#!/user/events" class="btn light-blue waves-effect waves-light">All Events</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <a href="#!/user/event/appliedEvents" class="btn light-blue waves-effect waves-light">Applied Events</a>

            </div>
        </div>

        <div class="card-panel">
            <div class="row">
                <div class="col m8">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="query" ng-change="search()" required="required">
                        <label for="searchKeyword">Search For Event</label>
                    </div>
                </div>

                <div class="col m4">
                    <select ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show '+size+' Per Page') for size in pageSizes">
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>
            <div ng-show="!pagedItems[currentPage]">
                <h4 class="center">No Events Or No Search Match Available</h4>
            </div>
            <div ng-hide="!pagedItems[currentPage]">
                <div class="center">
                    <ul class="pagination">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                            <a href="javascript:;" ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                            <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row nomargin" ng-repeat="createdEvent in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                <div ng-hide="createdEvent.status == 'DISABLED'">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="row nomargin">
                                    <span class="right">
                                <a class='dropdown-button' href='#' data-activates='eventOption_{{event.id}}'><i class="material-icons">more_vert</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='eventOption_{{event.id}}' class='dropdown-content'>
                                <div ng-hide="event.report == 'YES' || event.status != 'APPROVED'">
                                <li><a href="#!/user/event/report/{{event.id}}">Report</a></li>
                                <span ng-show="event.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                    <li class="divider"></li>
                                    <li><a href="#!/user/event/edit/{{event.id}}">Edit</a></li>
                                    <li><a href="" ng-click="eventCtrl.deleteEvent('Disabled', event.id)">Delete</a></li>
                                </span>
                                </div>
                                </ul>

                                </span>
                                <p style="font-size: 18px;"><a class="black-text" href="#!/user/event/view/{{createdEvent.id}}">{{createdEvent.eventTitle}}</a></p>
                            </div>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{createdEvent.userName}}</a></td>
                                    <td> <span>On: {{createdEvent.postDate}}</span></td>
                                </tr>
                                <tr>
                                    <td>Joined: {{createdEvent.noOfApplied}}
                                    </td>
                                    <td>Start Date: {{createdEvent.startDate}}</td>
                                </tr>
                                <div ng-show="createdEvent.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                    <tr>
                                        <td>Report: {{createdEvent.reported}}
                                        </td>
                                        <td>Status: {{createdEvent.status}}</td>
                                    </tr>
                                </div>
                            </table>

                            <a ng-click="eventCtrl.deleteEvent('Disabled', createdEvent.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="!pagedItems[currentPage]">
            <div class="center">
                <ul class="pagination">
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                    </li>
                    <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                        <a href="javascript:;" ng-bind="n + 1">1</a>
                    </li>
                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                        <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
</div>