<div class="row" ng-init="eventCtrl.fetchAllEvents()">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!/user/home" class="breadcrumb">Home</a>

                        <a href="#!/user/events" class="breadcrumb">Events</a>

                        <a class="breadcrumb">Create Event</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="card-panel">
            <h5><strong>Create Event</strong></h5>
            <hr/>
            <div class="row">
                <div class="col m6 offset-m3">
                    <form name="createForm" ng-submit="eventCtrl.createNewEvent()" novalidate>

                        <!--eventTitle field starts here-->
                        <div class="input-field nomargin">
                            <input type="text" name="eventTitle" id="eventTitle" ng-pattern="/^[a-zA-Z0-9\s\-]+$/" ng-minlength="2" maxlength="50" ng-maxlength="50"
                                data-length="50" ng-model="eventCtrl.createEvent.eventTitle" placeholder="Event Name" required="required">
                            <div class="invalid-data center-align" ng-show="createForm.eventTitle.$dirty">
                                <span ng-show="createForm.eventTitle.$dirty && createForm.eventTitle.$error.required">Please, Provide Event Title</span>
                                <span ng-show="createForm.eventTitle.$error.minlength">This field must contain atleast 2 charachters</span>
                                <span ng-show="createForm.eventTitle.$error.maxlength">This field can contain maximum 50 charachters</span>
                                <span ng-show="createForm.eventTitle.$error.pattern">This field cannot contain special charachters</span>
                            </div>
                        </div>
                        <!--eventTitle field ends here-->

                        <!--venue field starts here-->
                        <div class="input-field nomargin">
                            <input type="text" name="venue" id="venue" ng-pattern="/^[a-zA-Z0-9\s\-]+$/" ng-minlength="2" maxlength="50" ng-maxlength="50"
                                data-length="50" ng-model="eventCtrl.createEvent.venue" placeholder="Venue Name" required="required">
                            <div class="invalid-data center-align" ng-show="createForm.venue.$dirty">
                                <span ng-show="createForm.venue.$dirty && createForm.venue.$error.required">Please, Provide Venue</span>
                                <span ng-show="createForm.venue.$error.minlength">This field must contain atleast 2 charachters</span>
                                <span ng-show="createForm.venue.$error.maxlength">This field can contain maximum 50 charachters</span>
                                <span ng-show="createForm.venue.$error.pattern">This field cannot contain special charachters</span>
                            </div>
                        </div>
                        <!--company field ends here-->

                        <!--description field starts here-->
                        <div class="input-field nomargin">

                            <textarea id="description" class="materialize-textarea" style="margin-bottom: 0px;" ng-pattern="/^[a-zA-Z0-9\s\-\'\,\_\;]+$/"
                                ng-minlength="20" maxlength="500" ng-maxlength="500" placeholder="Event Description" data-length="500"
                                ng-model="eventCtrl.createEvent.description" placeholder="description" required="required"></textarea>
                            <div class="invalid-data center-align" ng-show="createForm.description.$dirty">
                                <span ng-show="createForm.description.$dirty && createForm.description.$error.required">Please, Provide Description</span>
                                <span ng-show="createForm.description.$error.minlength">This field must contain atleast 20 charachters</span>
                                <span ng-show="createForm.description.$error.maxlength">This field can contain maximum 500 charachters</span>
                                <span ng-show="createForm.description.$error.pattern">This field can contain only '-,_;' these special charachters</span>
                            </div>

                        </div>
                        <!--description field ends here-->

                        <!--Image Field Starts Here-->
                        <div class="file-field input-field">
                            <div class="btn light-blue waves-effect waves-light">
                                <span>File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <!--Image Field Ends Here-->

                        <!--startDate field starts here-->
                        <div class="input-field nomargin">

                            <input type="text" name="startDate" class="datepicker" id="startDate" ng-pattern="/^[a-zA-z0-9\s\:\,]+$/" ng-minlength="5"
                                maxlength="5" ng-maxlength="50" data-length="50" ng-model="eventCtrl.createEvent.startDate" placeholder="Start Date"
                                required="required">
                            <div class="invalid-data center-align" ng-show="createForm.startDate.$dirty">
                                <span ng-show="createForm.startDate.$dirty && createForm.startDate.$error.required">Please, Provide Start Date</span>
                                <span ng-show="createForm.startDate.$error.minlength">This field must contain atleast 5 number</span>
                                <span ng-show="createForm.startDate.$error.maxlength">This field can contain maximum 50 numbers</span>
                                <span ng-show="createForm.startDate.$error.pattern">This field can contain only numbers</span>
                            </div>

                        </div>
                        <!--startDate field ends here-->

                        <!--endDate field starts here-->
                        <div class="input-field nomargin">

                            <input type="text" name="endDate" class="datepicker" id="endDate" ng-pattern="/^[a-zA-Z0-9\s\:\,]+$/" ng-minlength="5" maxlength="5"
                                ng-maxlength="50" data-length="50" ng-model="eventCtrl.createEvent.endDate" placeholder="End Date"
                                required="required">
                            <div class="invalid-data center-align" ng-show="createForm.endDate.$dirty">
                                <span ng-show="createForm.endDate.$dirty && createForm.endDate.$error.required">Please, Provide End Date</span>
                                <span ng-show="createForm.endDate.$error.minlength">This field must contain atleast 5 number</span>
                                <span ng-show="createForm.endDate.$error.maxlength">This field can contain maximum 50 numbers</span>
                                <span ng-show="createForm.endDate.$error.pattern">This field can contain only numbers</span>
                            </div>

                        </div>
                        <!--endDate field ends here-->


                        <div class="input-field">
                            <div class="hoverable">
                                <input type="submit" class="btn light-blue waves-effect modal-close waves-light full-width" ng-disabled="createForm.$invalid"
                                    value="Save Changes">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>