<div class="row" ng-init="eventCtrl.getEvent()">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!/user/home" class="breadcrumb">Home</a>

                        <a href="#!/user/events" class="breadcrumb">Events</a>

                        <a class="breadcrumb">{{eventCtrl.event.eventTitle}}</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="http://materializecss.com/images/sample-1.jpg" height="300px;">
                <span class="card-title"><strong>{{eventCtrl.event.eventTitle}}</strong></span>
                <a ng-click="eventCtrl.eventJoin(eventCtrl.event.id)" ng-hide="eventCtrl.status != 'APPROVED' || eventCtrl.report != 'NO'"
                    class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                <div ng-repeat="eventJoined in eventCtrl.event['eventJoined']">
                    <a ng-show="eventJoined.userId == user.id" ng-click="eventCtrl.leaveEvent(eventJoined.id)" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                </div>
                <a ng-show="eventCtrl.event.userId == user.id || eventCtrl.status == 'APPROVED' ||  eventCtrl.report != 'NO'" ng-click="eventCtrl.deleteEvent('Disabled', eventCtrl.event.id)"
                    class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>
            </div>
            <div class="card-stacked">
                <div class="card-content row">
                    Posted By: {{eventCtrl.event.userName}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="material-icons" style="font-size: 14px;">query_builder</i> {{eventCtrl.event.postDate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="material-icons" style="font-size: 16px;">person</i> {{eventCtrl.event.noOfApplied}} Applied


                    <span ng-show="eventCtrl.event.reported == 'YES'">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="red-text"> <strong> This Event Is Reported</strong></span>
                    </span>

                    <span ng-show="eventCtrl.event.status == 'DISABLED'">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="red-text"> <strong> This Event is Disabled</strong></span>
                    </span>

                    <span ng-show="eventCtrl.event.status == 'PENDING'">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="red-text"> <strong> This Event Is Pending</strong></span>
                    </span>

                    <span ng-show="eventCtrl.event.status == 'REJECTED'">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="red-text"> <strong> This Event is Rejected</strong></span>
                    </span>

                    <span class="right">
                                <a class='dropdown-button' href='#' data-activates='eventOption_{{eventCtrl.event.id}}'><i class="material-icons">more_vert</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='eventOption_{{eventCtrl.event.id}}' class='dropdown-content'>
                                <div ng-hide="eventCtrl.event.report == 'YES' || eventCtrl.event.status != 'APPROVED'">
                                <li><a href="#!/user/event/report/{{eventCtrl.event.id}}">Report</a></li>
                                <span ng-show="eventCtrl.event.userId == user.id || user.role == 'Super_Admin' || user.role == 'ADMIN'">
                                    <li class="divider"></li>
                                    <li><a href="#!/user/event/edit/{{eventCtrl.event.id}}">Edit</a></li>
                                    <li><a href="" ng-click="eventCtrl.deleteevent('Closed', event.id)">Delete</a></li>
                                </span>
                </div>
                </ul>

                </span>

            </div>
        </div>
    </div>

    <div class="card-panel">

        <div class="card-panel">
            <strong style="font-size: 20px;" class="grey-text">Details</strong>
            <hr/>
            <i class="material-icons" style="font-size: 14px;">today</i> &nbsp;Start Date: {{eventCtrl.event.startDate}}<br>
            <i class="material-icons" style="font-size: 14px;">today</i>&nbsp; End Date: {{eventCtrl.event.endDate}}
        </div>

        <div class="card-panel">
            <strong style="font-size: 20px;" class="grey-text">Venue</strong>
            <hr/>
            <br/> {{eventCtrl.event.venue}}
        </div>

        <div class="card-panel">
            <strong style="font-size: 20px;" class="grey-text">Description</strong>
            <hr/>
            <br/> {{eventCtrl.event.description}}
        </div>

        <div ng-hide="eventCtrl.event.userId == user.id ||eventCtrl.event.status != 'APPROVED' || eventCtrl.event.reported != 'NO'">
            <div class="card-panel">
                <a href="!#" ng-click="eventCtrl.eventJoin(eventCtrl.event.id)" class="btn light-blue waves-effect waves-light">Apply</a>
            </div>
        </div>

        <div ng-show="eventCtrl.event.reported == 'YES'">
            <div class="card-panel">
                <h5 class="center red-text"><strong>This Event Is Reported</strong></h5>
            </div>
        </div>

        <div ng-show="eventCtrl.event.status == 'DISABLED'">
            <div class="card-panel">
                <h5 class="center red-text"><strong> This Event is Disabled</strong></h5>
            </div>
        </div>

        <div ng-show="eventCtrl.event.status == 'PENDING'">
            <div class="card-panel">
                <h5 class="center red-text"><strong> This Event is pending</strong></h5>
            </div>
        </div>

        <div ng-show="eventCtrl.event.status == 'REJECTED'">
            <div class="card-panel">
                <h5 class="center red-text"><strong>This Event is Rejected</strong></h5>
            </div>
        </div>
    </div>
</div>
</div>