<div class="row" ng-init="eventCtrl.fetchAllEvents()">
    <div class="col m10 offset-l1 l10 s12">
        <div style="padding-top: 10px;">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a href="#!" class="breadcrumb">Home</a>

                        <span class="right"><button class="btn light-blue waves-effect waves-light" data-target = "creationForm">+ Create Event</button></span>

                        <a href="#!" class="breadcrumb">Events</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="card-panel row">
            <div class="left">
                <strong class="black-text" style="font-size:24px;">Events</strong>
            </div>

            <div class="right">
                <a href="#!/user/job/appliedjobs" class="btn light-blue waves-effect waves-light">Applied Events</a>
            </div>
        </div>
        <div class="card-panel">
            <div class="row">
                <div class="col m8">
                    <div class="input-field nomargin">
                        <input type="text" style="margin-bottom:0px;" ng-model="query" ng-change="search()" required="required">
                        <label for="searchKeyword">Search For Event</label>
                    </div>
                </div>

                <div class="col m4">
                    <select ng-model="itemsPerPage" ng-change="perPage()" ng-options="('Show '+size+' Per Page') for size in pageSizes">
                    </select>
                    <label>Materialize Select</label>
                </div>
            </div>
            <div ng-show="!pagedItems[currentPage]">
                <h4 class="center">No Events Or No Search Match Available</h4>
            </div>
            <div ng-hide="!pagedItems[currentPage]">
                <div class="center">
                    <ul class="pagination">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                            <a href="javascript:;" ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                            <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row nomargin" ng-repeat="event in pagedItems[currentPage] | orderBy:sortingOrder:reverse">

                <div class="card horizontal">
                    <div class="card-image">
                        <img src="http://lorempixel.com/580/250/nature/1/" style="width: 320px; height: 228px;">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="font-size: 18px;">{{event.eventTitle}}</p>
                            <table class="bordered" style="font-size: 12px; color:grey;">
                                <tr>
                                    <td>By <a href="">{{event.userName}}</a></td>
                                    <td> <span>On: {{event.postDate}}</span></td>
                                </tr>
                                <tr>
                                    <td>Joined: {{event.noOfApplied}}
                                    </td>
                                    <td>Start Date: {{event.startDate}}</td>
                                </tr>
                            </table>
                            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">done</i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div ng-hide="!pagedItems[currentPage]">
                <div class="center">
                    <ul class="pagination">
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href="javascript:;" ng-click="prevPage()"><strong>« Prev</strong></a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                            <a href="javascript:;" ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                            <a href="javascript:;" ng-click="nextPage()"><strong>Next »</strong></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="creationForm" class="modal">
    <div class="modal-content">
        <h5>Create Event</h5>
        <hr/>
        <div class="row">
            <div class="col m6 offset-m3">
                <form name="createForm" ng-submit="eventCtrl.createNewEvent()" novalidate>

                    <!--Id field starts here-->
                    <div class="input-field nomargin">
                        <input type="hidden" name="id" id="id" ng-model="eventCtrl.createEvent.id" placeholder="Event ID" required="required">
                    </div>
                    <!--Id field ends here-->

                    <!--eventTitle field starts here-->
                    <div class="input-field nomargin">
                        <input type="text" name="eventTitle" id="eventTitle" ng-pattern="/^[a-zA-Z0-9\s\-]+$/" ng-minlength="2" maxlength="50" ng-maxlength="50"
                            data-length="50" ng-model="eventCtrl.createEvent.eventTitle" placeholder="Event Name" required="required">
                        <div class="invalid-data center-align" ng-show="createForm.eventTitle.$dirty">
                            <span ng-show="createForm.eventTitle.$dirty && createForm.eventTitle.$error.required">Please, Provide Event Title</span>
                            <span ng-show="createForm.eventTitle.$error.minlength">This field must contain atleast 2 charachters</span>
                            <span ng-show="createForm.eventTitle.$error.maxlength">This field can contain maximum 50 charachters</span>
                            <span ng-show="createForm.eventTitle.$error.pattern">This field cannot contain special charachters</span>
                        </div>
                    </div>
                    <!--eventTitle field ends here-->

                    <!--venue field starts here-->
                    <div class="input-field nomargin">
                        <input type="text" name="venue" id="venue" ng-pattern="/^[a-zA-Z0-9\s\-]+$/" ng-minlength="2" maxlength="50" ng-maxlength="50"
                            data-length="50" ng-model="eventCtrl.createEvent.venue" placeholder="Venue Name" required="required">
                        <div class="invalid-data center-align" ng-show="createForm.venue.$dirty">
                            <span ng-show="createForm.venue.$dirty && createForm.venue.$error.required">Please, Provide Venue</span>
                            <span ng-show="createForm.venue.$error.minlength">This field must contain atleast 2 charachters</span>
                            <span ng-show="createForm.venue.$error.maxlength">This field can contain maximum 50 charachters</span>
                            <span ng-show="createForm.venue.$error.pattern">This field cannot contain special charachters</span>
                        </div>
                    </div>
                    <!--company field ends here-->

                    <!--description field starts here-->
                    <div class="input-field nomargin">

                        <textarea id="description" class="materialize-textarea" style="margin-bottom: 0px;" ng-pattern="/^[a-zA-Z0-9\s\-\'\,\_\;]+$/"
                            ng-minlength="20" maxlength="500" ng-maxlength="500" placeholder="Event Description" data-length="500"
                            ng-model="eventCtrl.createEvent.description" placeholder="description" required="required"></textarea>
                        <div class="invalid-data center-align" ng-show="createForm.description.$dirty">
                            <span ng-show="createForm.description.$dirty && createForm.description.$error.required">Please, Provide Description</span>
                            <span ng-show="createForm.description.$error.minlength">This field must contain atleast 20 charachters</span>
                            <span ng-show="createForm.description.$error.maxlength">This field can contain maximum 500 charachters</span>
                            <span ng-show="createForm.description.$error.pattern">This field can contain only '-,_;' these special charachters</span>
                        </div>

                    </div>
                    <!--description field ends here-->

                    <!--Image Field Starts Here-->
                    <div class="file-field input-field">
                        <div class="btn light-blue waves-effect waves-light">
                            <span>File</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <!--Image Field Ends Here-->

                    <!--startDate field starts here-->
                    <div class="input-field nomargin">

                        <input type="text" name="startDate" class="datepicker" id="startDate" ng-pattern="/^[a-zA-z0-9\s\:\,]+$/" ng-minlength="5"
                            maxlength="5" ng-maxlength="50" data-length="50" ng-model="eventCtrl.createEvent.startDate" placeholder="Start Date"
                            required="required">
                        <div class="invalid-data center-align" ng-show="createForm.startDate.$dirty">
                            <span ng-show="createForm.startDate.$dirty && createForm.startDate.$error.required">Please, Provide Start Date</span>
                            <span ng-show="createForm.startDate.$error.minlength">This field must contain atleast 5 number</span>
                            <span ng-show="createForm.startDate.$error.maxlength">This field can contain maximum 50 numbers</span>
                            <span ng-show="createForm.startDate.$error.pattern">This field can contain only numbers</span>
                        </div>

                    </div>
                    <!--startDate field ends here-->

                    <!--endDate field starts here-->
                    <div class="input-field nomargin">

                        <input type="text" name="endDate" class="datepicker" id="endDate" ng-pattern="/^[a-zA-Z0-9\s\:\,]+$/" ng-minlength="5" maxlength="5"
                            ng-maxlength="50" data-length="50" ng-model="eventCtrl.createEvent.endDate" placeholder="End Date"
                            required="required">
                        <div class="invalid-data center-align" ng-show="createForm.endDate.$dirty">
                            <span ng-show="createForm.endDate.$dirty && createForm.endDate.$error.required">Please, Provide End Date</span>
                            <span ng-show="createForm.endDate.$error.minlength">This field must contain atleast 5 number</span>
                            <span ng-show="createForm.endDate.$error.maxlength">This field can contain maximum 50 numbers</span>
                            <span ng-show="createForm.endDate.$error.pattern">This field can contain only numbers</span>
                        </div>

                    </div>
                    <!--endDate field ends here-->


                    <div class="input-field">
                        <div class="hoverable">
                            <input type="submit" class="btn light-blue waves-effect waves-light full-width" ng-disabled="createForm.$invalid" value="Save Changes">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>